<a href="/" class="media-link">
  <div class="media">
    <div class="media__media">
      <div class="date-box">
        <span class="date-box--month">
          Dec
        </span>
        <span class="date-box--day">
          30
        </span>
      </div>
    </div>
    <div class="media__content">
      <h2 class="text-less text-lower media__title">Here is a Title</h2>
      <p class="text-less text-lower text-normal media__text">Here is some accompanying text. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div>
</a>

<a href="/" class="media-link">
  <div class="media">
    <div class="media__media">
      <div class="date-box">
        <span class="date-box--month">
          Dec
        </span>
        <span class="date-box--day">
          31
        </span>
      </div>
    </div>
    <div class="media__content">
      <h2 class="text-less text-lower media__title">Here is a Second Title</h2>
      <p class="text-less text-lower text-normal media__text">Here is some accompanying text. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div>
</a>