<div class="field-inline">
  <div class="field-entry field-inline__expand">
    <input type="text" class="field-input">
  </div>
  <div class="field-entry">
    <a href="" class="button-primary">Submit</a>
  </div>
</div>

<div class="field-inline field-inline--collapse">
  <div class="field-entry field-inline__expand">
    <input type="text" class="field-input">
  </div>
  <div class="field-entry">
    <a href="" class="button-primary">Submit</a>
  </div>
</div>