<div class="section--image section--hero align-center">
  <h2 class="hero-heading">
    <span>When You Need</span>
    <span>The Job Done</span>
    <span class="hero-large">Right</span>
  </h2>
</div>