<div class="text-center">
  <div class="color-box">
    <div class="color color--red">

    </div>
    $red: #D6224C
  </div>
  <div class="color-box">
    <div class="color color--orange">

    </div>
    $orange: #E1582A
  </div>
  <div class="color-box">
    <div class="color color--yellow">

    </div>
    $yellow: #FF9F18
  </div>
  <div class="color-box">
    <div class="color color--darkgray">

    </div>
    $darkgray: #928F8C
  </div>
  <div class="color-box">
    <div class="color color--lightgray">

    </div>
    $lightgray: #E8E8E8
  </div>
  <div class="color-box">
    <div class="color color--brown">

    </div>
    $brown: #4F442D
  </div>
  <div class="color-box">
    <div class="color color--coolgray">

    </div>
    $coolgray: #99989B
  </div>
  <div class="color-box">
    <div class="color color--tan">

    </div>
    $tan: #A87E33
  </div>
  <div class="color-box">
    <div class="color color--mauve">

    </div>
    $mauve: #4E2E2F
  </div>
  <div class="color-box">
    <div class="color color--nearblack">

    </div>
    $nearblack: #333
  </div>
</div>