.icon-left {
	margin: 0 5px 0 0;
}

%svg-common {
	background: url('images/sprites.svg') no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.icon-mechanical,%icon-mechanical {
	@extend %svg-common;
	background-position: 0 0;
	width: 58px;
	height: 136px;
}

.icon-phone,%icon-phone {
	@extend %svg-common;
	background-position: 100% 0;
	width: 33px;
	height: 29px;
}

