<div class="section">
  Normal Section
</div>
<section class="section section--red">
  Section with Red Background
</section>
<div class="section section--orange">
  Section with Orange Background
</div>
<div class="section section--darkgray">
  Section with Dark Gray Background
</div>
<div class="section section--brown">
  Section with Brown Background
</div>
<div class="section section--mauve">
  Section with Mauve Background
</div>
<div class="section section--trans">
  Section with Translucent Black Background
</div>
<div class="section section--black">
  Section with Black Background
</div>

<p>Just some text for spacing</p>

<div class="section--arrow-top">
	Text block with top arrow and black background
</div>

<div class="section--image">
	Text block with image background
</div>

<div class="section--image section--hero">
	Text block with hero image background
</div>

<div class="section--image section--logo">
	Text block with Andy Egan logo image background
</div>

<div class="section--image section--experts">
	Text block with experts image background
</div>

<div class="section--image section--callouts">
	Text block with callouts image background
</div>

<div class="section--image section--checked">
	Text block with checked image background
</div>