<div class="container">
  <div class="section section--slim">
    <p><button class="btn-outline toggleBg">Toggle Background</button></p>
    <div class="icon-box-list">
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-calendar"></span>
          <div class="icon-box__name">calendar</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-camera"></span>
          <div class="icon-box__name">camera</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-careers"></span>
          <div class="icon-box__name">careers</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-design-build"></span>
          <div class="icon-box__name">design-build</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-fabrication"></span>
          <div class="icon-box__name">fabrication</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-facebook"></span>
          <div class="icon-box__name">facebook</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-gear"></span>
          <div class="icon-box__name">gear</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-history"></span>
          <div class="icon-box__name">history</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-linkedin"></span>
          <div class="icon-box__name">linkedin</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-mechanical"></span>
          <div class="icon-box__name">mechanical</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-megaphone"></span>
          <div class="icon-box__name">megaphone</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-phone"></span>
          <div class="icon-box__name">phone</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-safety"></span>
          <div class="icon-box__name">safety</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-service"></span>
          <div class="icon-box__name">service</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-thin-arrow"></span>
          <div class="icon-box__name">thin-arrow</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-twitter"></span>
          <div class="icon-box__name">twitter</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-youtube"></span>
          <div class="icon-box__name">youtube</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.toggleBg').on('click', function() {
    $('.icon-box-list').toggleClass('icon-box-list--dark');
  });
</script>