<div class="section">
  <h2 class="sg-pattern-head">Default Unordered List</h2>
  <ul>
    <li>Default</li>
    <li>List</li>
    <li>
      Styling
      <ul>
        <li>For</li>
        <li>An</li>
        <li>Unordered List</li>
      </ul>
    </li>
  </ul>
  <h2 class="sg-pattern-head">Plain List (no Styling)</h2>
  <ul class="plain-list">
    <li>List With</li>
    <li>No Styling</li>
    <li>On the list items</li>
  </ul>
  <h2 class="sg-pattern-head">
    Link Block List
  </h2>
  <ul class="link-block">
    <li><a href="">List With Links</a></li>
    <li><a href="">That are Set</a></li>
    <li><a href="">To Display: block</a></li>
  </ul>
  <h2 class="sg-pattern-head">
    List with Triangles
  </h2>
  <ul class="arrow-list">
    <li><a href="">List Item</a></li>
    <li><a href="">List Item</a></li>
    <li><a href="">List Item</a></li>
    <li><a href="">List Item</a></li>
    <li><a href="">List Item</a></li>
    <li><a href="">List Item</a></li>
  </ul>
  <h2 class="sg-pattern-head">Two Column List</h2>
  <ul class="arrow-list double-list">
    <li><a href="">List Item</a></li>
    <li><a href="">List Item</a></li>
    <li><a href="">List Item</a></li>
    <li><a href="">List Item</a></li>
    <li><a href="">List Item</a></li>
    <li><a href="">List Item</a></li>
  </ul>
  <h2 class="sg-pattern-head">Alternating Items</h2>

  <div class="alternate">Item</div>
  <div class="alternate">Item</div>
  <div class="alternate">Item</div>
  <div class="alternate">Item</div>
  <div class="alternate">Item</div>
  <div class="alternate">Item</div>

  <h2 class="sg-pattern-head">Border Separated Items</h2>
  <div class="separated">Item</div>
  <div class="separated">Item</div>
  <div class="separated">Item</div>
  <div class="separated">Item</div>
  <div class="separated">Item</div>
  <div class="separated">Item</div>

</div>
