<form action="#">
  <fieldset>
    <legend>Radio</legend>
    <div class="field-inline">
      <div class="field-entry">
        <input class="field-option" id="radio1" name="radio" type="radio" class="radio" checked="checked"><label for="radio1">Option 1</label>
      </div>
      <div class="field-entry">
        <input class="field-option" id="radio2" name="radio" type="radio" class="radio"><label for="radio2">Option 2</label>
      </div>
      <div class="field-entry">
        <input class="field-option" id="radio3" name="radio" type="radio" class="radio"><label for="radio3">Option 3</label>
      </div>
    </div>
  </fieldset>
</form>