<div class="container">
  <div class="section section--slim">
    <p><button class="btn-outline toggleBg">Toggle Background</button></p>
    <div class="icon-box-list">
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-mechanical"></span>
          <div class="icon-box__name">mechanical</div>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="icon-phone"></span>
          <div class="icon-box__name">phone</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.toggleBg').on('click', function() {
    $('.icon-box-list').toggleClass('icon-box-list--dark');
  });
</script>