<div class="section">
  <div class="container">
    <h2>Basic Third Columns (Normal)</h2>
    <div class="flex-row">
      <div class="flex-third">
        <div class="box">
          Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.
        </div>
      </div>
      <div class="flex-third">
        <div class="box">
          Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </div>
      </div>
      <div class="flex-third">
        <div class="box">
          Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.
        </div>
      </div>
      <div class="flex-third">
        <div class="box">
          Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </div>
      </div>
      <div class="flex-third">
        <div class="box">
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        </div>
      </div>
      <div class="flex-third">
        <div class="box">
          Magna Parturient Cursus
        </div>
      </div>
    </div>
  </div>
</div>
