<div class="section">
  <div class="container">
    <h2>Full-Height Half Columns</h2>
    <div class="flex-row">
      <div class="flex-half flex-item--full-height">
        <div class="box">
          Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.
        </div>
      </div>
      <div class="flex-half flex-item--full-height">
        <div class="box">
          Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </div>
      </div>
      <div class="flex-half flex-item--full-height">
        <div class="box">
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        </div>
      </div>
      <div class="flex-half flex-item--full-height">
        <div class="box">
          Magna Parturient Cursus
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <h2>Full-Height Third Columns</h2>
    <div class="flex-row">
      <div class="flex-third flex-item--full-height">
        <div class="box">
          Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.
        </div>
      </div>
      <div class="flex-third flex-item--full-height">
        <div class="box">
          Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </div>
      </div>
      <div class="flex-third flex-item--full-height">
        <div class="box">
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <h2>Full-Height Quarter Columns</h2>
    <div class="flex-row">
      <div class="flex-quarter flex-item--full-height">
        <div class="box">
          Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.
        </div>
      </div>
      <div class="flex-quarter flex-item--full-height">
        <div class="box">
          Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </div>
      </div>
      <div class="flex-quarter flex-item--full-height">
        <div class="box">
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        </div>
      </div>
      <div class="flex-quarter flex-item--full-height">
        <div class="box">
          Magna Parturient Cursus
        </div>
      </div>
    </div>
  </div>
</div>
