<div class="breadcrumb">
  <a href="/" class="breadcrumbs__link">Services</a>
  <span class="breadcrumbs__sep">»</span>
  <a href="/" class="breadcrumbs__link">Portfolio</a>
  <span class="breadcrumbs__sep">»</span>
  <a href="/" class="breadcrumbs__link">Safety</a>
  </ul>
</div>