/* 
* Setup Sass variables
* 1. Sizes
* 2. Fonts
* 3. Colors
*/


/* Sizes */
$max-width: 1200px;
$margin: 40px;
$margin-half: ($margin/2);


/* Typography */
$line-height: 1.6;
$font-primary: 'franklin-gothic-urw', sans-serif;
$font-compressed: 'franklin-gothic-urw-comp', sans-serif;

/* Colors */
$red: #D6224C;
$orange: #E1582A;
$yellow: #FF9F18;
$darkgray: #928F8C;
$lightgray: #E8E8E8;
$textgray: #666;
// from branding PDF
$brown: #4F442D;
$coolgray: #99989B;
$tan: #A87E33;
$mauve: #4E2E2F;
$nearblack: #333;

/* Breakpoints */
$br-xsm:         400px;
$br-sm:          450px;
$br-sm-2:        650px;
$br-med:         700px;
$br-med-2:       750px;
$br-lg:          820px;
$br-xl:          900px;
$br-menu-break: 1000px;
$br-xxl:        1100px;
$br-xxxl:       1200px;