/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
@import "generic/_variables.scss";

#sg-patterns {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
  background: #fff;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.color-box {
  display: inline-block;
  width: 150px;
  margin: 10px;
  text-align: center;
  color: #777;
  font-style: italic;
  font-size: 1.4rem;
  padding-bottom: 10px;
  box-shadow: 2px 1px 8px -2px $lightgray;
  border: 1px solid $lightgray;
}
.color {
  height: 110px;
  margin-bottom: 5px;
}
.color--red {
  background: $red;
}
.color--orange {
  background: $orange;
}
.color--yellow {
  background: $yellow;
}
.color--darkgray {
  background: $darkgray;
}
.color--lightgray {
  background: $lightgray;
}
.color--brown {
  background: $brown;
}
.color--coolgray {
  background: $coolgray;
}
.color--tan {
  background: $tan;
}
.color--mauve {
  background: $mauve;
}
.color--nearblack {
  background: $nearblack;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}

.pre-code {
  display: block;
  padding: 10px;
  background: #f7f7f7;
  border: 1px solid #eee;
}

.icon-box-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.icon-box {
  border: 5px solid #fff;
  background: #f7f7f7;
  text-align: center;
  width: 100%;
}
.icon-box-list--dark .icon-box {
  background: #222;
  color: #fff;
}

@media (min-width: 380px) {
  .icon-box {
    width: 50%;
  }
}
@media (min-width: 640px) {
  .icon-box {
    width: 33%;
  }
}
.icon-box__wrap {
  padding: 10px;
}

body {
  background: #fff !important;
}