<nav class="main-nav" role="navigation" aria-label="Main Menu">
	<ul class="main-nav__list">
		<li class="main-nav__item">
			<a href="/">Services</a>
		</li>
		<li class="main-nav__item">
			<a href="/">Portfolio</a>
		</li>
		<li class="main-nav__item">
			<a href="/">Safety</a>
		</li>
		<li class="main-nav__item">
			<a href="/">Employment</a>
		</li>
		<li class="main-nav__item">
			<a href="/">Company</a>
		</li>
		<li class="main-nav__item">
			<a href="/">News</a>
		</li>
		<li class="main-nav__item">
			<a href="/">Contact</a>
		</li>
	</ul>
</nav>