<div class="field-entry">
  <label class="field-label">Small Input</label>
  <input type="text" class="field-input field--small" />
</div>

<div class="field-entry">
  <label class="field-label">Medium Input</label>
  <input type="text" class="field-input field--medium" />
</div>