<a href="/mechanical-contracting" class="callout-item callout-item--red">
  <span class="icon-mechanical"></span>
  <div class="section--arrow-top">
    <p>Mechanical Contracting</p>
  </div>
</a>

<a href="/fabrication" class="callout-item callout-item--orange">
  <span class="icon-fabrication"></span>
  <div class="section--arrow-top">
    <p>Fabrication</p>
  </div>
</a>

<a href="/service" class="callout-item callout-item--yellow">
  <span class="icon-service"></span>
  <div class="section--arrow-top">
    <p>Service</p>
  </div>
</a>

<a href="/design-build" class="callout-item callout-item--darkgray">
  <span class="icon-design-build"></span>
  <div class="section--arrow-top">
    <p>Design Build</p>
  </div>
</a>