<fieldset>
    <div class="field-entry">
        <label for="text" class="field-label">Text Input <abbr title="Required">*</abbr></label>
        <input id="text" class="field-input" type="text" placeholder="Text Input">
    </div>
    <div class="field-entry">
        <label for="password" class="field-label">Password</label>
        <input id="password" class="field-input" type="password" placeholder="Type your Password">
    </div>
    <div class="field-entry">
        <label for="webaddress" class="field-label">Web Address</label>
        <input id="webaddress" class="field-input" type="url" placeholder="http://yoursite.com">
    </div>
    <div class="field-entry">
        <label for="emailaddress" class="field-label">Email Address</label>
        <input id="emailaddress" class="field-input" type="email" placeholder="name@email.com">
    </div>
    <div class="field-entry">
        <label for="search" class="field-label">Search</label>
        <input id="search" class="field-input" type="search" placeholder="Enter Search Term">
    </div>
    <div class="field-entry">
        <label for="text" class="field-label">Number Input <abbr title="Required">*</abbr></label>
        <input id="text" class="field-input" type="number" placeholder="Enter a Number" pattern="[0-9]*">
    </div>
    <div class="field-entry">
        <label for="textarea" class="field-label">Textarea</label>
        <textarea id="textarea" class="field-input" rows="8" cols="48" placeholder="Enter your message here"></textarea>
    </div>
</fieldset>
