<fieldset>
    <div class="field-entry">
        <label for="select" class="field-label">Select</label>
        <select id="select" class="field-select">
            <optgroup label="Option Group">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>
    </div>
</fieldset>
