<form action="#">
    <fieldset>
        <legend>Checkbox <abbr title="Required">*</abbr></legend>
        <div class="field-inline">
          <div class="field-entry">
            <input id="checkbox1" class="field-option" name="checkbox" type="checkbox" checked="checked"><label for="checkbox1">Choice A</label>
          </div>
          <div class="field-entry">
            <input id="checkbox2" class="field-option" name="checkbox" type="checkbox"><label for="checkbox2">Choice B</label>
          </div>
          <div class="field-entry">
            <input id="checkbox3" class="field-option" name="checkbox" type="checkbox"><label for="checkbox3">Choice C</label>
          </div>
        </div>
    </fieldset>
</form>
