<fieldset>
	<div class="field-entry"><label class="field-label" for="ic">Color input</label> <input class="field-color" type="color" id="ic" value="#000000"></div>
	<div class="field-entry"><label class="field-label" for="in">Number input</label> <input class="field-input" type="number" id="in" min="0" max="10" value="5"></div>
	<div class="field-entry"><label class="field-label" for="ir">Range input</label> <input class="field-input" type="range" id="ir" value="10"></div>
	<div class="field-entry"><label class="field-label" for="idd">Date input</label> <input class="field-input" type="date" id="idd" value="1970-01-01"></div>
	<div class="field-entry"><label class="field-label" for="idm">Month input</label> <input class="field-input" type="month" id="idm" value="1970-01"></div>
	<div class="field-entry"><label class="field-label" for="idw">Week input</label> <input class="field-input" type="week" id="idw" value="1970-W01"></div>
	<div class="field-entry"><label class="field-label" for="idt">Datetime input</label> <input class="field-input" type="datetime" id="idt" value="1970-01-01T00:00:00Z"></div>
	<div class="field-entry"><label class="field-label" for="idtl">Datetime-local input</label> <input class="field-input" type="datetime-local" id="idtl" value="1970-01-01T00:00"></div>
</fieldset>
