.icon-left {
	margin: 0 5px 0 0;
}

{{#hasMixin}}@mixin {{mixinName}} {
	background: url('images/sprites.svg') no-repeat;
}

{{#hasCommon}}.{{commonName}} {
	@include {{mixinName}};
}

{{/hasCommon}}{{/hasMixin}}{{^hasMixin}}{{#hasCommon}}.{{/hasCommon}}{{^hasCommon}}%{{/hasCommon}}{{commonName}} {
	background: url('images/sprites.svg') no-repeat;
	display: inline-block;
	vertical-align: middle;
}

{{/hasMixin}}{{#shapes}}.{{#selector.shape}}{{expression}}{{^last}},
{{/last}}{{/selector.shape}},%{{#selector.shape}}{{expression}}{{^last}},
{{/last}}{{/selector.shape}} {
	{{^hasCommon}}{{#hasMixin}}@include {{mixinName}};{{/hasMixin}}{{^hasMixin}}@extend %{{commonName}};{{/hasMixin}}
	{{/hasCommon}}background-position: {{position.relative.xy}};
	width: {{width.outer}}px;
	height: {{height.outer}}px;
}

{{/shapes}}