<div class="container">
  <div class="section section--slim">
    <p><button class="btn-outline toggleBg">Toggle Background</button></p>
    <div class="icon-box-list">
    {{#shapes}}
      <div class="icon-box">
        <div class="icon-box__wrap">
          <span class="{{#selector.shape}}{{#last}}{{#classname}}{{raw}}{{/classname}}{{/last}}{{/selector.shape}}"></span>
          <div class="icon-box__name">{{name}}</div>
        </div>
      </div>
    {{/shapes}}
    </div>
  </div>
</div>
<script>
  $('.toggleBg').on('click', function() {
    $('.icon-box-list').toggleClass('icon-box-list--dark');
  });
</script>