<div class="section">
  <div class="container">
    <h2 class="sg-pattern-head">Plain</h2>
    <div id="ContentPane" runat="server">
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
      <p>
        <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
      </p>
    </div>

    <h2 class="sg-pattern-head">PlainTitle</h2>
    <h2>PlainTitle</h2>
    <div id="ContentPane" runat="server">
      Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
      <p>
        <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
      </p>
    </div>

    <h2 class="sg-pattern-head">Centered</h2>
    <div class="align-center">
      <h2>Centered Title Text</h2>
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">Title Lined</h2>
    <div>
      <h2 class="title--lined">Lined Title Text</h2>
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">Subtitle Lined</h2>
    <div>
      <h2 class="subtitle--lined">Lined Subtitle Text</h2>
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">CenteredNarrow</h2>
    <div class="align-center">
      <h2>CenteredNarrow Title Text</h2>
      <div id="ContentPane" class="container-narrow" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">RedBoxTitle</h2>
    <div class="section section--red">
      <h2 class="text--white">RedBoxTitle Title Text</h2>
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">BlackBox</h2>
    <div class="section section--black">
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">BlackBoxTitle</h2>
    <div class="section section--black">
      <h2 class="text--white">BlackBoxTitle Title Text</h2>
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">TransBlackBox</h2>
    <div class="section section--trans">
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">TransBlackBoxTitle</h2>
    <div class="section section--trans">
      <h2 class="text--white">TransBlackBoxTitle Title Text</h2>
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">TransBlackRedLinedBox</h2>
    <div class="section section--trans section--lined-top">
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">TransBlackRedLinedBoxTitle</h2>
    <div class="section section--trans section--lined-top">
      <h2 class="text--white">TransBlackBoxTitle Title Text</h2>
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">LightGrayBox</h2>
    <div class="section section--lightgray">
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>

    <h2 class="sg-pattern-head">LightGrayBoxTitle</h2>
    <div class="section section--lightgray">
      <h2>LightGrayBoxTitle Title Text</h2>
      <div id="ContentPane" runat="server">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel <a href="">scelerisque nisl consectetur et</a>. Nulla vitae elit libero, a pharetra augue.
        <p>
          <a href="" class="button-outline">Button</a> <a href="" class="button-primary">Button</a>
        </p>
      </div>
    </div>



  </div>
</div>