<h2 class="text-less">Title with no margin: .title-less</h2>

<h2 class="text-normal">Title with normal (400) weight: .title-normal</h2>

<h2 class="text-lower">Title with title case: .title-lower</h2>