<h2 class="title--lined">Title with gray line</h2>
<p>And then there's text below it.</p>

<h3 class="subtitle--lined">Subtitle with red line</h3>
<p>And then there's <a href="/">text</a> below it.</p>

<div class="box">
	<h2>Title in a box</h2>
</div>

<div class="box align-center">
	<h2>Centered title in a box</h2>
</div>

<div class="section section--trans align-center">
	<h2 class="text--white">Centered title in a translucent box</h2>
</div>

<div class="date-box">
	<span class="date-box--month">June</span>
	<span class="date-box--day">27</span>
</div>

<div class="date-box">
	<span class="date-box--month">June</span>
	<span class="date-box--day">27–28</span>
</div>

<p>Here's some text before a divider</p>
<hr class="divider--red" />
<p>And here's some more text below it</p>