				<div class="tile-grid">
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="{{ soybean.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--news">
							<div class="tib_inner">
								<h3 class="tib_title">{{ soybean.title }}</h3>
								<p class="tib_meta">By {{ soybean.author }}</p>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-soybean.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="{{ gastropod.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--event tile-image-block--no-mask">
							<div class="tib_inner">
								<div class="tib_date date-cube">
									<div class="dc_month">{{ gastropod.month }}</div>
									<div class="dc_day">{{ gastropod.day }}</div>
								</div>
								<h3 class="tib_title">{{ gastropod.title }}</h3>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-gastropod.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="{{ montcalm.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--news">
							<div class="tib_inner">
								<h3 class="tib_title">{{ montcalm.title }}</h3>
								<p class="tib_meta">By {{ montcalm.author }}</p>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-montcalm.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
			            <a href="{{ wheat.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--news">
			                <div class="tib_inner">
			                    <h3 class="tib_title">{{ wheat.title }}</h3>

			                </div>
			                <div class="tib_background" style="background-image: url(images/tile-small-winter-wheat.jpg);"></div>
			            </a>
			        </div>
				</div>