				<div class="tile-grid">
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="{{ ag_inno.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--event">
							<div class="tib_inner">
								<div class="tib_date date-cube">
									<div class="dc_month">{{ ag_inno.month }}</div>
									<div class="dc_day">{{ ag_inno.day }}</div>
								</div>
								<h3 class="tib_title">{{ ag_inno.title }}</h3>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-ag-innovation.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="{{ raspberries.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--news">
							<div class="tib_inner">
								<h3 class="tib_title">{{ raspberries.title }}</h3>
								<p class="tib_meta">By {{ raspberries.author }}</p>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-hoophouses.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="{{ tajik.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--news">
							<div class="tib_inner">
								<h3 class="tib_title">{{ tajik.title }}</h3>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-tajikistan.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="{{ gastropod.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--event tile-image-block--no-mask">
							<div class="tib_inner">
								<div class="tib_date date-cube">
									<div class="dc_month">{{ gastropod.month }}</div>
									<div class="dc_day">{{ gastropod.day }}</div>
								</div>
								<h3 class="tib_title">{{ gastropod.title }}</h3>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-gastropod.jpg);"></div>
						</a>
					</div>
				</div>