					<div class="tgrid-cell tgrid-cell--sm">
	                    <a href="{{ central_asia.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--news">
	                        <div class="tib_inner">
	                            <h3 class="tib_title">{{ central_asia.title }}</h3>
	                            <p class="tib_meta">By {{ central_asia.author }}</p>
	                        </div>
	                        <div class="tib_background" style="background-image: url(images/tile-small-central-asia.jpg);"></div>
	                    </a>
	                </div>
	                <div class="tgrid-cell tgrid-cell--sm">
	                    <a href="{{ raspberries.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--darker tile-image-block--news">
	                        <div class="tib_inner">
	                            <h3 class="tib_title">{{ raspberries.title }}</h3>
	                            <p class="tib_meta">By {{ raspberries.author }}</p>
	                        </div>
	                        <div class="tib_background" style="background-image: url(images/tile-small-hoophouses.jpg);"></div>
	                    </a>
	                </div>
	                <div class="tgrid-cell tgrid-cell--sm">
	                    <a href="{{ wheat.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--darker tile-image-block--news">
	                        <div class="tib_inner">
	                            <h3 class="tib_title">{{ wheat.title }}</h3>

	                        </div>
	                        <div class="tib_background" style="background-image: url(images/tile-small-winter-wheat.jpg);"></div>
	                    </a>
	                </div>
	                <div class="tgrid-cell tgrid-cell--sm">
	                    <a href="{{ fest.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--darker tile-image-block--event">
	                        <div class="tib_inner">
	                            <div class="tib_date date-cube">
	                                <div class="dc_month">{{ fest.month }}</div>
	                                <div class="dc_day">{{ fest.day }}</div>
	                            </div>
	                            <h3 class="tib_title">{{ fest.title }}</h3>
	                        </div>
	                        <div class="tib_background" style="background-image: url(images/tile-small-msu-science-festival.jpg);"></div>
	                    </a>
	                </div>