					<div class="tgrid-cell tgrid-cell--sm">
						<a href="{{ gastropod.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--event tile-image-block--no-mask">
							<div class="tib_inner">
								<div class="tib_date date-cube">
									<div class="dc_month">{{ gastropod.month }}</div>
									<div class="dc_day">{{ gastropod.day }}</div>
								</div>
								<h3 class="tib_title">{{ gastropod.title }}</h3>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-gastropod.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="{{ central_asia.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--news">
							<div class="tib_inner">
								<h3 class="tib_title">{{ central_asia.title }}</h3>
								<p class="tib_meta">By {{ central_asia.author }}</p>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-central-asia.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="{{ fest.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--event">
							<div class="tib_inner">
								<div class="tib_date date-cube">
									<div class="dc_month">{{ fest.month }}</div>
									<div class="dc_day">{{ fest.day }}</div>
								</div>
								<h3 class="tib_title">{{ fest.title }}</h3>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-msu-science-festival.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="{{ montcalm.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--news">
							<div class="tib_inner">
								<h3 class="tib_title">{{ montcalm.title }}</h3>
								<p class="tib_meta">By {{ montcalm.author }}</p>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-montcalm.jpg);"></div>
						</a>
					</div>
