					<div class="tgrid-cell tgrid-cell--lg">
                        <a href="{{ tajik.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--news-lg">
                            <div class="tib_inner">
                                <h3 class="tib_title">{{ tajik.title }}</h3>
                            </div>
                            <div class="tib_background" style="background-image: url(images/tile-large-tajikistan.jpg);"></div>
                        </a>
                    </div>
                    <div class="tgrid-cell tgrid-cell--lg">
                        <a href="{{ montcalm.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--darker tile-image-block--news-lg">
                            <div class="tib_inner">
                                <h3 class="tib_title">{{ montcalm.title }}</h3>
                                <p class="tib_meta">By {{ montcalm.author }}</p>
                            </div>
                            <div class="tib_background" style="background-image: url(images/tile-large-montcalm.jpg);"></div>
                        </a>
                    </div>