					<div class="tgrid-cell tgrid-cell--lg">
                        <a href="{{ gastropod.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--event-lg">
                            <div class="tib_inner">
                                <div class="tib_date date-cube">
                                    <div class="dc_month">{{ gastropod.month }}</div>
                                    <div class="dc_day">{{ gastropod.day }}</div>
                                </div>
                                <h3 class="tib_title">{{ gastropod.title }}</h3>
                            </div>
                            <div class="tib_background" style="background-image: url(images/tile-large-gastropod.jpg);"></div>
                        </a>
                    </div>
                    <div class="tgrid-cell tgrid-cell--sm">
                        <a href="{{ ag_inno.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--event">
                            <div class="tib_inner">
                                <div class="tib_date date-cube">
                                    <div class="dc_month">{{ ag_inno.month }}</div>
                                    <div class="dc_day">{{ ag_inno.day }}</div>
                                </div>
                                <h3 class="tib_title">{{ ag_inno.title }}</h3>
                            </div>
                            <div class="tib_background" style="background-image: url(images/tile-small-ag-innovation.jpg);"></div>
                        </a>
                    </div>
                    <div class="tgrid-cell tgrid-cell--sm">
                        <a href="{{ soybean.url }}" class="tgrid-cell_inner tile-image-block tile-image-block--news">
                            <div class="tib_inner">
                                <h3 class="tib_title">{{ soybean.title }}</h3>
                                <p class="tib_meta">By {{ soybean.author }}</p>
                            </div>
                            <div class="tib_background" style="background-image: url(images/tile-small-soybean.jpg);"></div>
                        </a>
                    </div>