// .article {
// 	&.details {
// 		font-size: 2rem;
// 		line-height: 2.05em;
// 		.article-title { margin-bottom: 0; }
// 		.article-meta {
// 			font-size: 1.4rem;
// 			line-height: 1em;
// 			margin-top: 0;
// 		}
// 	}
// }