.box {
	padding: 20px;
	background: $lightgray;
}

.block-item {
	margin-bottom: 20px;
}

.section {
	background: #fff;
	padding: 20px;
	position: relative;
}
.section--red {
	background: $red;
	color: #fff;
	a {
		color: #fff;
	}
}
.section--orange {
	background: $orange;
}
.section--lightgray {
	background: $lightgray;
}
.section--darkgray {
	background: $darkgray;
}
.section--brown {
	background: $brown;
	color: #fff;
	a {
		color: #fff;
	}
}
.section--mauve {
	background: $mauve;
	color: #fff;
	a {
		color: #fff;
	}
}
.section--trans {
	background: rgba(0,0,0,0.8);
	color: #fff;
	a {
		color: #fff;
	}
}
.section--black {
	background: #000;
	color: #fff;
	a {
		color: #fff;
	}
}

.section--arrow-top {
	background: #000;
	text-align: center;
	position: relative;
	color: #fff;
	height: 80px;
	margin-top: 12px;
	&:before {
		content: '';
		width: 24px;
		height: 24px;
		border: 12px solid transparent;
		border-bottom-color: #000;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
	a {
		color: #fff;
	}
	p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		width: 90%;
		line-height: 1.2;
		@include font-size(24);
	}
}

.section--lined-top {
	border-top: 10px solid $red;
}

.section--image {
	background-image: url('images/bg--hero.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	// temporary
	// padding: 80px;
}
.section--hero {
	background: url('images/bg--checked.png'), url('images/bg--hero.jpg') no-repeat;
	background-size: auto, cover;
}

.section--experts {
	background-image: url('images/bg--experts.jpg');
}
.section--logo {
	background-image: url('images/bg--logo.png');
}
.section--callouts {
	background-image: url('images/bg--callouts.jpg');
}
.section--checked {
	background-image: url('images/bg--checked.png');
}

.section--news {
	padding: 0;
}

.section--carousel {
	padding: 0;
}

.callout-wrapper {
	display: inline-block;
}

.callout-item {
	padding: 20px 0 10px;
	// width: 50%;
	margin: 0 -2px;
	text-align: center;
	@include font-size(18);
	display: inline-block;
	transition: transform 0.3s ease-in-out;
	@include link-states {
		transform: scale(0.9);
		transition: transform 0.3s ease-in-out;
	}
	@include breakpoint($br-sm) {
		width: 250px;
		margin: 5px;
	}
}
.callout-item--red {
	background: $red;
}
.callout-item--orange {
	background: $orange;
}
.callout-item--yellow {
	background: $yellow;
}
.callout-item--darkgray {
	background: $darkgray;
}

.trans-white-wrapper {
	background: rgba(255,255,255,0.9);
	padding: 40px;
}
.trans-black-wrapper {
	background: rgba(0,0,0,0.3);
	padding: 40px;
}