/*
* Button Styles
*/
 
/*
  <span class="button-group">
   <a href="" class="button"></a>
   <a href="" class="button"></a>
  </span>
*/

.button, %button {
	display: inline-block;
	border: none;
	text-decoration: none;
	padding: 8px 20px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	font-family: $font-compressed;
	@include font-size(20);
	@include link-states {
		cursor: pointer;
		text-decoration: none;
	}
}

.button-group {
	@include float-clear;
	display: block;
	margin-top: -10px;
	.button {
		float: left;
		margin-right: 10px;
		margin-top: 10px;
	}
}

.button-primary {
	@extend %button;
	background: $red;
	color: #fff;
	@include link-states {
		background: darken($red, 10);
		color: #fff;
	}
}

input[type="submit"] {
	@extend .button-primary;
}

.button-outline {
	@extend %button;
	color: #fff;
	border: 1px solid #fff;
	background: transparent;
	@include link-states {
		background: $red;
		border-color: $red;
		color: #fff;
	}
}

.button-plain {
	@extend %button;
	color: $red;
	background: transparent;
	@include link-states {
		color: darken($red, 10);
	}
}

.button-outline--dark {
	@extend .button-outline;
	color: $red;
	border-color: $red;
	@include link-states {
		background: darken($red, 10);
		border-color: darken($red, 10);
		color: #fff;
	}
}

.button--wide {
	padding-left: 40px;
	padding-right: 40px;
}
.button--large {
	padding: 16px 40px;
}
.button--full {
	width: 100%;
}

.button--with-inner {
	padding: 5px;
	padding-right: 10px;
}
.button--inner {
	display: inline-block;
	background: darken($red, 10);
	padding: 5px;
}
.button--inner__text {
	vertical-align: middle;
	display: inline-block;
}
.button--inner__text--interior {
	vertical-align: middle;
	display: inline-block;
	margin-left: 5px;
}

.button__arrow {
	background: transparent;
	position: relative;
	.button__arrow--left {
		position: absolute;
		top: 50%;
		left: -4px;
		transform: translateY(-50%);
		border: 6px solid transparent;
		border-right-color: #fff;
	}
}