/*
 * responsive-carousel
 * https://github.com/filamentgroup/responsive-carousel
 *
 * Copyright (c) 2012 Filament Group, Inc.
 * Licensed under the MIT, GPL licenses.
 */
.carousel {
	width: 100%;
	position: relative;
}
.carousel-container {
	background: $darkgray;
}
.carousel .carousel-item {
	display: none;
}
.carousel .carousel-active {
	display: block;
}
.carousel .carousel-nav:nth-child(2) {
	display: none;
}

/* Pagination */

.carousel-nav-paginated ol {
 margin: 0 4em;
 padding: 0;
}
.carousel-nav-paginated li,
.carousel-nav-paginated li a {
	display: inline-block;
	position: relative;
}
.carousel-nav-paginated .carousel-active-page a {
	text-decoration: none;
}


/* Portfolio Detail Carousel */
.carousel--portfolio {
	z-index: 1;
	overflow: hidden;
	margin-bottom: 0;
	padding-bottom: 40px;
	background: #eee;
	.carousel-item {
		background: $nearblack;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-top: 59%;
		img {
			display: block;
			opacity: 0.2;
			transition: opacity .3s linear;
			-webkit-backface-visibility: hidden;
			transform: translate3d(0,0,0);
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	.carousel-active {
		position: relative;
		z-index: 1;
		box-shadow: 0 0 40px rgba(0,0,0,.8);
		img {
			opacity: 1;
    	left: 50%;
    	top: 50%;
    	transform: translate(-50%,-50%);
		}
	}
	.carousel-item-next, .carousel-item-prev {
		position: absolute;
		top: 0;
		bottom: 40px;
		overflow-y: hidden;
		width: 52%;
		img {
			max-width: none;
			object-fit: cover;
			height: 100%;
		}
	}
	.carousel-item-next {
		left: 92%;
	}
	.carousel-item-prev {
		right: 92%;
	}
	.carousel-nav {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		top: 0;
	}
	.carousel-pagination {
		position: absolute;
		bottom: 10px;
		z-index: 2;
		margin: 0;
		width: 100%;
		text-align: center;
		li {
			margin: 0 3px;
		}
		a {
			@include image-replace;
			width: 18px;
			height: 18px;
			background: $coolgray;
			border-radius: 50%;
		}
		.carousel-active-page {
			a {
				background: $red;
			}
		}
	}
	.prev,.next {
		position: absolute;
		bottom: 50%;
		margin-bottom: -33px;
		@include image-replace;
		@extend .icon-thin-arrow;
		background-color: rgba(0,0,0,.2);
		box-shadow: 0 0 0 10px rgba(0,0,0,.2);
	}
	.next {
		right: 20px;
	}
	.prev {
		transform: rotate(-180deg);
		left: 20px;
	}
}

.carousel-wrapper {
	background: $nearblack;
}

@include breakpoint($br-xsm) {
	.carousel-wrapper {
		position: relative;
		border-bottom: 1px solid #ccc;
	}

	.carousel--portfolio {
		padding: 0 8% 60px;
		.carousel-item-next, .carousel-item-prev {
			display: block;
		}
		.carousel-nav {
			left: 8%;
			right: 8%;
			width: auto;
		}
		.carousel-pagination {
			bottom: 20px;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			height: 60px;
			width: 100%;
			bottom: 0;
			left: 0;
			background: #eee;
			z-index: 1;
		}

	}
}
@include breakpoint($br-xl) {
	.carousel--portfolio {
		padding: 0 16% 60px;
		.carousel-item-prev {
			right: 84%;
		}
		.carousel-item-next {
			left: 84%;
		}
		.carousel-nav {
			left: 16%;
			right: 16%;
		}
	}

}
@include breakpoint($max-width) {
	.carousel--portfolio {
		padding: 0 20% 60px;
		.carousel-item-prev {
			right: 80%;
		}
		.carousel-item-next {
			left: 80%;
		}
		.carousel-nav {
			left: 20%;
			right: 20%;
		}
	}
}

/* Slider for Homepage */
.unslider {
    overflow: auto;
    margin: 0;
    padding: 0;
		position: relative;
}

.unslider-wrap {
    position: relative;
		@include float-clear;
}

.unslider-wrap.unslider-carousel>.slider-item {
    float: left;
}

.unslider-vertical>ul {
    height: 100%;
}

.unslider-vertical li {
    float: none;
    width: 100%;
}

.unslider-fade {
    position: relative;
}

.unslider-fade .unslider-wrap .slider-item {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
		bottom: 0;
    z-index: 8;
}

.unslider-fade .unslider-wrap .slider-item.unslider-active {
    z-index: 10;
    background-color: darken($nearblack,5%);
}

.unslider li,
.unslider ol,
.unslider ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

.unslider-arrow {
    position: absolute;
    left: 20px;
    z-index: 2;
    cursor: pointer;
		top: 50%;
		transform: translateY(-50%);
		@extend .icon-thin-arrow;
		@include image-replace;
}
.unslider-arrow.prev {
	transform: translateY(-50%) rotate(-180deg);
}
.unslider-arrow.next {
    left: auto;
    right: 20px;
}


.slider {
	height: 400px;
}
.unslider-nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 3;
	ol {
		width: 100%;
		max-width: $max-width;
		margin: 10px auto;
		font-size: 0;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 5px;
		}
		.unslider-button {
			color: #ccc;
			font-size: 1.4rem;
			padding: 10px;
			background: $lightgray;
			border: none;
			text-align: center;
			width: 100%;
			border-radius: 20px;
			&:hover, &:focus {
				background: #fff;
				outline: none;
			}
			&.unslider-active {
				font-weight: 700;
				color: #fff;
				background: $red;
			}
		}
	}
}

.slider-wrap {
	z-index: 1;
}

.slider-item {
	position: relative;
	background-size: cover;
	background-position: center center;
}
.slider-caption {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	bottom: 0;
	color: #fff;
	padding: $margin;
	background: rgba(0,0,0,.7);
	line-height: 1.2;
	text-align: center;
	opacity: 0;
	transition: opacity .3s ease-out;
	display: flex;
	align-items: center;
	h2 {
		text-transform: uppercase;
		transform: translateY(10px);
		opacity: 0;
		transition: all .3s ease-out .3s;
	}
	.slider__btn {
		opacity: 0;
		transform: translateY(-10px);
		transition: all .3s ease-out .3s;
	}
	.unslider-active & {
		opacity: 1;
		.slider__btn, h2 {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
.slider-caption__wrap {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.slider-details {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0,0,0,0.7);
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

@include breakpoint($br-lg) {
	.slider {
		padding-top: 40%;
		height: 0;
	}
	.slider-caption {
		display: block;
		top: auto;
		bottom: 0;
		padding-bottom: $margin * 2;
		padding-top: $margin * 2;
		background: linear-gradient(180deg, transparent 0, transparentize($nearblack,.2) 50%, $nearblack 100%);
	}
}

