.date-box {
	display: inline-block;
	background: $red;
	text-transform: uppercase;
	font-family: $font-compressed;
	color: #fff;
	padding: 16px;
	text-align: center;
	line-height: 1;
	width: 100px;
	height: 80px;
}
.date-box--month {
	@include font-size(20);
	display: block;
}
.date-box--day {
	@include font-size(28);
	font-weight: 700;
	display: block;
}