///////// Fixes for odd DNN behavior /////////

// prevents move module dropdown from being covered by a blank div
.jspPane {
	margin: 0 !important;
	width: auto !important;
	top: inherit !important;
}

// remove padding in black section of homepage
.section--black {
	.dnnModuleManager {
		padding: 0 !important;
	}
}

// wrapping form margin adds vertical blank space at bottom
form {
	margin: 0;
}

// EasyDNNnews article controls
.user_dashboard {
	max-width: 1200px;
	margin: 0 20px;
	@include breakpoint($br-xl) {
		margin: 0 auto;
	}
}
// EasyDNNnews pagination on News page
.article_pager {
	max-width: 1200px;
	margin: 20px;
	.page {
		display: inline-block;
		text-decoration: none;
		padding: 4px 8px;
		color: #fff;
		background: $red;
		font-weight: bold;
		transition: all 0.2s ease-in-out;
		@include font-size(18);
		@include link-states {
			transform: scale(0.9);
			background: darken($red, 10);
			transition: all 0.2s ease-in-out;
		}
		& + .page {
			margin-left: 5px;
		}
		&.active {
			background: $lightgray;
			color: $nearblack;
		}
	}
	@include breakpoint($br-xl) {
		margin: 20px auto;
	}
}

.dnn-container {
	margin-bottom: 20px;
}