.gw {
	text-decoration: none;
	@include font-size(14);
	.icon-gear {
		transition: transform 0.3s ease-in-out;
	}
	@include link-states {
		color: $tan;
		.icon-gear {
			transform: rotate(225deg);
			transition: transform 0.3s ease-in-out;
		}
	}
}