.select-wrap {
  display: inline-block;
  background: #fff;
  background-image: linear-gradient(#fff, #eee);
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  // padding-right: 32px;
  @include breakpoint($br-sm, max-width) {
    width: 100%;
  }
  &:after, &:before {
    content: '';
    position: absolute;
    display: block;
    pointer-events: none;
  }
  &:after {
    width: 1px;
    height: 100%;
    background: #ddd;
    right: 30px;
    top: 0;
    pointer-events: none;
  }
  &:before {
    width: 12px;
    height: 12px;
    right: 9px;
    top: 11px;
    border-left: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    transform: rotate(-45deg);
    pointer-events: none;
  }
  select {
    display: block;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background: none;
    padding: 5px;
    max-width: 100%;
    min-height: 40px;
    padding: 5px 40px 5px 10px;
    @include font-size(14);
    &::-ms-expand {
      display: none;
    }
  }
}
.select-wrap--full {
  width: 100%;
  select {
    width: 100%;
  }
}