/*
* Header
*/

.header-wrapper {
	padding: 20px;
	text-align: center;
	// @include breakpoint($br-menu-break) {
	// 	display: flex;
	// }
	@include breakpoint($br-xxl) {
		text-align: left;
		display: flex;
	}
}

.site-title {
	margin: 0;
	flex-grow: 100;
}

.page-header {
	background: $red;
	padding: 20px 20px 10px;
	color: #fff;
	// @include breakpoint($br-xxl) {
	// 	padding: 20px 0 10px;
	// }
}

.site-logo {
	.logo-red {
		transition: all 0.3s ease-in-out;
	}
	@include link-states {
		.logo-red {
			fill: darken($red, 5);
			transition: all 0.3s ease-in-out;
		}
	}
	@include breakpoint($br-menu-break, max-width) {
		max-width: 150px;
		display: block;
		svg {
			max-width: 100%;
			height: auto;
			position: relative;
			z-index: 3;
		}
	}
}

.phone-button {
	@include breakpoint($br-menu-break) {
		margin: 20px 0;
	}
	@include breakpoint($br-xxl) {
		text-align: right;
	}
}