.hero-heading {
	color: #fff;
	@include font-size(72);
	line-height: 1;
	span {
		display: block;
		&.hero-large {
			@include font-size(128);
		}
	}
}

.hero-callouts {
	margin-bottom: -80px;
	position: relative;
	z-index: 1;
	color: $red;
}

.hero-callouts--lower {
	a {
		text-decoration: none;
	}
	.section--lined-top {
		padding: 10px 20px;
	}
	.callout-lower-item {
		margin-bottom: 20px;
		transition: transform 0.3s ease-in-out;
		@include link-states {
			transform: scale(0.9);
			transition: transform 0.3s ease-in-out;
		}
		@include breakpoint($br-xl) {
			margin-bottom: 0;
		}
	}
}