.home-hero {
	.trans-black-wrapper {
		padding: 40px 0;
		@include breakpoint($br-xl) {
			padding: 20px;
		}
	}
}

.home-after-hero {
	padding-top: 80px; // just a spacing helper to balance the callouts' negative margin
	@include breakpoint($br-xl) {
		padding-bottom: 0;
	}
}

.home-process {
	padding: 20px;
	.flex-half:nth-of-type(1) {
		@include breakpoint($br-med, max-width) {
			order: 2;
		}
	}
	@include breakpoint($br-med) {
		padding: 0;
	}
}

.process-row {
	// override default flex-half breakpoint
	@include breakpoint($br-xl, max-width) {
		.flex-half {
			width: 100%;
			max-width: 100%;
		}
	}
	@include breakpoint($br-med) {
		margin: 0;
		.flex-half {
			padding: 0;
		}
	}
}
.process-content {
	padding: 20px;
	@include breakpoint($br-xl) {
		padding: 0 20px;
	}
}