.image--with-caption {
	height: 0;
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	display: block;
	overflow: hidden;
	padding-top: calc((240/350) * 100%);
	background-image: url('images/placeholder.png');
	margin-bottom: 20px;
	.image-caption {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.7);
		color: #fff;
		width: 100%;
		padding: 10px;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
	}
	@include link-states {
		.image-caption {
			background: #000;
		}
	}
}

.image-caption__subtitle {
	display: block;
	line-height: 1;
}
.image-caption__title {
	display: block;
	font-weight: bold;
}

// banner image, used on News pages
.banner-wrapper {
	background: $lightgray;
	text-align: center;
	max-height: 200px;
	overflow: hidden;
	img {
		box-shadow: 0 0 40px rgba(0,0,0,0.8);
	}
}