// Media Object
.media {
  margin-bottom: 20px;
  @include breakpoint($br-menu-break) {
    display: flex;
  }
}
.media__content {
  width: 100%;
  padding-top: $margin-half;
  @include breakpoint($br-menu-break) {
    padding-left: $margin-half;
    padding-top: 0;
  }

}

// Media Link
.media-link {
  background: #fff;
  // box-shadow: 0 1px 3px rgba(0,0,0,.2);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 3px solid $lightgray;
  margin-bottom: 20px;
  padding: 10px 10px 0;
  transition: all 0.3s ease-in-out;
  .no-flexbox & {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  @include link-states {
    transform: scale(0.9);
    background: $lightgray;
    transition: all 0.3s ease-in-out;
  }
  @include breakpoint($br-menu-break) {
    display: flex;
    flex-direction: row;
  }
}
.media-link__content {
  flex: 3;
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: center;
  padding: $margin-half;
  .ml-title {
    color: darken($red,2%);
    font-size: 1.8rem;
  }
  .ml-subtitle {
    color: $orange;
    font-size: 1.2rem;
  }
  .no-flexbox & {
    .ml-title, .ml-subtitle {
      display: block;
    }
  }
}

.media-link__media {
  flex: 2;
  position: relative;
  img {
    display: block;
    width: 100%;
    min-height: 140px;
    object-fit: cover;
  }
}

.no-flexbox {
  .media-link__content, .media-link__media {
    display: table-cell;
    vertical-align: middle;
  }
  .media-link__content {
    width: 60%;
  }
  .media-link__media {
    width: 40%;
  }
}

.media__title {
  color: $red;
}
.media__text {
  color: #000;
}

.media__tab {
  display: inline-block;
  a {
    text-decoration: none;
    background: $lightgray;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    @include link-states {
      background: darken($lightgray, 5);
    }
  }
}