.skip-nav {
	&:focus {
		height: auto;
		width: 100%;
		left: 0;
		top: 0;
		display: block;
		overflow: auto;
		clip: auto;
		z-index: 50;
		text-align: center;
		color: #fff;
		text-decoration: none;
		padding: 10px;
		background-color: $red;
		font-weight: 700;
		a {
			color: #fff;
			@include reverse-hover-link;
		}
	}
}

.main-nav__list {
	@include plain-list;
	.main-nav__item {
		a {
			@extend .heading-text;
			@include reverse-hover-link;
			@include font-size(20);
		}
		& + .main-nav__item {
			@include breakpoint($br-menu-break) { // TODO: potentially revisit
				margin-left: 40px;
			}
		}
		@include breakpoint($br-menu-break) {
			display: inline-block;
		}
	}
}

.secondary-nav {
	@include plain-list;
	text-transform: uppercase;
	ul {
		padding: 0;
		margin: 0;
		&.menu-child {
			li {
				padding: 0;
				position: relative;
				&:before {
					content: '\\\\';
					position: absolute;
					left: 5px;
					letter-spacing: -2px;
					color: $darkgray;
					padding-left: 5px;
					top: 50%;
					transform: translateY(-50%);
					line-height: 1;
				}
				a {
					padding-left: 30px;
				}
			}
		}
	}
	li {
		border-bottom: 3px solid $lightgray;
		&.is-selected {
			& > a {
				background: $lightgray;
			}
		}
		&.has-child {
			border: 0;
			& > a {
				border-bottom: 3px solid $lightgray;
			}
			&.is-breadcrumb {
				padding: 0;
			}
		}
		&.section-link { // top level
			& > a {
				border: none;
				background: $red;
				padding: 5px 10px;
				color: #fff;
				font-weight: bold;
				font-family: $font-compressed;
				@include font-size(20);
				text-decoration: none;
				position: relative;
				&:after {
					content: '';
					width: 12px;
					height: 12px;
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
					border: 6px solid transparent;
					border-left-color: #fff;
					transition: all 0.3s ease-in-out;
				}
				@include link-states {
					background: darken($red, 5);
					&:after {
						right: 5px;
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}
	}
	a {
		@include reverse-hover-link;
		display: block;
		padding: 3px 10px;
	}
}

.secondary__title {
	margin: 0;
	padding: 5px;
	background: darken($red, 10);
}

.breadcrumb {
	background: $lightgray;
	padding: 5px 20px;
	.breadcrumbs__link {
		@include reverse-hover-link;
	}
	.breadcrumb__sep {
		color: $darkgray;
		letter-spacing: -2px;
		margin: 0 5px 0 2px;
	}
	.container {
		span {
			span {
				span {
					&:last-of-type {
						.breadcrumbs__link {
							color: #000;
						}
					}
				}
			}
		}
	}
	// @include breakpoint($br-xxl) {
	// 	padding: 5px;
	// }
}

.menu-toggle {
	display: block;
	padding: 10px;
	background: $red;
	color: #fff;
	line-height: 1;
	z-index: 3;
	position: relative;
	border: 0;
	font-weight: bold;
	float: right;
	font-family: $font-compressed;
	@include font-size(20);
	text-transform: uppercase;
	@include breakpoint($br-menu-break) {
		display: none;
	}
}
.menu-bars {
  display: block;
  width: 32px;
  margin: 0 auto;
}
.menu-bar {
  display: block;
  height: 4px;
  background: #fff;
  margin-bottom: 4px;
  transform-origin: center;
  transition: 0.3s all ease-in-out;
  .open & {
	&:nth-child(2) {
		opacity: 0;
	}
	&:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	&:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
  }
}


.nav-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background: $lightgray;
	// background: $lightgray url('images/bg--logo.png') no-repeat center bottom;
	// background-size: cover; // revisit?
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	transform: translate(-100%, 0);
	transition: opacity 0.3s ease-in-out;
	overflow: hidden;
	&.open {
		@include breakpoint($br-menu-break, max-width) {
			opacity: 1;
			transform: translate(0, 0);
			text-align: center;
			padding-top: 120px;
			.phone-button {
				margin-bottom: 20px;
			}
			.main-nav__item {
				a {
					display: block;
					padding: 10px 0;
					border-top: 1px solid $darkgray;
					text-decoration: none;
					@include link-states {
						background: $red;
						color: #fff;
					}
				}
			}			
		}
	}
	@include breakpoint($br-menu-break) {
		align-self: center;
		position: static;
		width: auto;
		height: auto;
		top: auto;
		left: auto;
		background: none;
		opacity: 1;
		transform: translate(0,0);
	}
	@include breakpoint($br-xxl) {
		float: right;
	}
}

.nav-wrapper {
	height: 100%;
	overflow: auto;
	@include breakpoint($br-menu-break) {
		height: auto;
		overflow: visible;
	}
}