.mosaic {
	margin: 0 -20px;
	.img-cap {
		margin-bottom: $margin-half;
	}
}
@include breakpoint($br-sm) {
	.mosaic {
		.img-cap {
			margin-bottom: 0;
		}
	}
	.mosaic__header, .mosaic__large {
		margin-bottom: $margin-half;
	}
	.mosaic__subheader, .mosaic__body {
		display: flex;
		flex-wrap: wrap;
	}
	.mosaic__item {
		flex: 0 1 50%;
		max-width: 50%;
		.no-flexbox & {
			width: 50%;
			float: left;
		}
	}
	.mosaic__body {
		.mosaic__item:nth-child(3) {
			margin-top: 20px;
		}
		.no-flexbox & {
			.mosaic__item {
				margin-top: $margin-half;
			}
		}
	}
}
@include breakpoint($br-med) {
	.mosaic__header {
		display: flex;
		margin-bottom: $margin;
	}
	.mosaic__large {
		flex: 0 1 67%;
		margin-bottom: 0;
		max-width: inherit;
		.no-flexbox & {
			width: 67%;
			float: left;
		}
	}
	.mosaic__subheader {
		flex: 0 1 33%;
		flex-direction: column;
		justify-content: space-between;
		.mosaic__item {
			flex: 0 0 auto;
			max-width: none;
			width: 100%;
		}
		.no-flexbox & {
			width: 33%;
			float: left;
			.mosaic__item {
				width: 100%;
				float: none;
			}
		}
	}
	.mosaic__body {
		.mosaic__item {
			flex: 0 1 (100%/3);
			max-width: (100%/3);
			.no-flexbox & {
				width: (100%/3);
				float: left;
			}
		}
		.flexbox & {
			.mosaic__item:nth-child(3) {
				margin-top: 0;
			}
		}
	}
}

.portfolio-item {
	margin-bottom: 20px;
}

.back-wrapper {
	margin: 20px 0;
}

.loading {
	padding: 20px;
	margin-bottom: 20px;
	background: $lightgray;
	span {
		display: inline-block;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: -40px;
			width: 24px;
			height: 24px;
			background: $red;
			animation: skew 2s linear infinite;
		}
	}
}
@keyframes skew {
	0%, 100% {
		transform: skew(0);
	}
	50% {
		transform: skew(20deg);
	}
}