/* Special Text Styles */

.text-less {
	margin: 0;
}

.text-normal {
	font-weight: 400;
}
.text-strong {
	font-weight: 700;
}

.text-upper {
	text-transform: uppercase;
}
.text-lower {
	text-transform: initial;
}

.heading-text {
	text-transform: uppercase;
	color: #000;
	font-family: $font-compressed;
	font-weight: 700;
}

.text--white {
	color: #fff;
}

.title--lined {
	border-bottom: 5px solid $lightgray;
	padding-bottom: 5px;
	margin-bottom: 5px;	
}
.subtitle--lined {
	border-bottom: 3px solid $red;
	padding-bottom: 3px;
	margin-bottom: 5px;
	color: $textgray;
}

.divider--red {
	border: 3px solid $red;
	width: 40%;
	margin: 30px 0;
}

.text--with-icon {
	vertical-align: middle;
}