			<footer class="social-block">
                <div class="sb_text">
                    <h2 class="sb_title">Share this Article</h2>
                </div>
                <div class="sb_links social-links">
                    <a href=""  target="_blank" class="social-link js-share-link-facebook"><span class="svg-fb-dark"></span><span class="visually-hidden">Like us on Facebook</span></a>
                    <a href="" target="_blank" class="social-link js-share-link-twitter"><span class="svg-tw-dark"></span><span class="visually-hidden">Follow us on Twitter</span></a>
                    <a href="" target="_blank" class="social-link js-share-link-linkedin"><span class="svg-ln-dark"></span><span class="visually-hidden">Connect with us on Linkedin</span></a>
                </div>
            </footer>
            