            <section class="footer-form bg-teal">
                <div class="container-xsm gutter spartan-accent-wrap">
                    <img src="images/spartan-helmet.svg" alt="" class="spartan-accent">
                    <script src="js/angular.min.js"></script>
                    <script src="js/ContactFormCtrl.js"></script>
                    <script src="js/angular-messages.min.js"></script>
                    <div id="contactForm" ng-app="ContactFormApp" ng-controller="ContactFormCtrl" class="contact-form ng-scope">
                        <div ng-show="formSent" class="ng-hide">Thank you</div>
                        <ng-form name="contactForm" ng-hide="formSent">
                            <h2 class="heading-heavy text-white">ASK OUR EXPERTS</h2>
            
                            <div class="form-item">
                                <input type="text" id="txtName" ng-model="data.Name" name="Name" required placeholder="name" />
                                <div ng-messages="contactForm.Name.$error" ng-show="contactForm.Name.$touched || contactForm.$showValidation">
                                    <div ng-messages="contactForm.Name.$error" ng-show="contactForm.Name.$touched || contactForm.$showValidation">
                                        <div ng-message="required" class="form-error-msg">Required</div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="form-item">
                                <input type="email" id="txtEmail" ng-model="data.Email" name="Email" required placeholder="email" />
                                <div ng-messages="contactForm.Email.$error" ng-show="contactForm.Email.$touched || contactForm.$showValidation">
                                    <div ng-messages="contactForm.Email.$error" ng-show="contactForm.Email.$touched || contactForm.$showValidation">
                                        <span ng-message="required" class="form-error-msg">Required</span>
                                        <span ng-message="email" class="form-error-msg">Invalid Email</span>
                                    </div>
                                </div>
                            </div>
            
                            <div class="form-item">
                                <textarea id="txtComment" ng-model="data.Comment" name="Comment" required placeholder="comment"></textarea>
                                <div ng-messages="contactForm.Comment.$error" ng-show="contactForm.Comment.$touched || contactForm.$showValidation">
                                    <div ng-messages="contactForm.Comment.$error" ng-show="contactForm.Comment.$touched || contactForm.$showValidation">
                                        <div ng-message="required" class="form-error-msg">Required</div>
                                    </div>
                                </div>
                            </div>
            
                            <input type="submit" value="Submit" ng-click="submitContactForm($event)" class="button-outline">
            
                        </ng-form>
                    </div>
                </div>
            </section>
            