        <footer role="contentinfo">
            <section class="footer bg-gray">
                <div class="container-lg gutter">
                    <div class="social-links social-links--footer">
                        <a href="https://www.facebook.com/FoodAtMSU/"  target="_blank" class="social-link"><span class="svg-fb-white"></span><span class="visually-hidden">Like us on Facebook</span></a>
                    </div>
                    <h2 class="footer_heading">MSU Food</h2>
                    <p class="footer_text">MSU College of Agriculture <br>and Natural Resources<br>
                    446 W. Circle Drive<br>
                    East Lansing, MI 48824 </p>
                </div>
            </section>
            
            <section class="section-msu-dark section--gutter">
                <div class="msu-branding container-lg gutter">
                    <div class="media-lg">
                        <div class="media-lg_image msu-branding_image">
                            <a href="https://msu.edu/" target="_blank"><img src="images/msu-logo-dark.svg" alt=""></a><br>
                        </div>
                        <div class="media-lg_body">
                            <div class="msu-branding_nav-wrap">
                                <ul>
                                    <li><a href="http://vprgs.msu.edu/privacy" target="_blank">Privacy Statement</a></li>
                                    <li><a href="http://vprgs.msu.edu/accessibility" target="_blank">Site Accessibility</a></li>
                                </ul>
                            </div>
                            <div class="msu-branding_text-wrap">
                                Call MSU: <a href="tel:+15173551855" rel="nofollow">(517) 355-1855</a> |
                                Visit: <a href="https://msu.edu/" target="_blank">msu.edu</a> |
                                MSU is an affirmative-action, equal-opportunity employer. |
                                <a href="https://www.hr.msu.edu/documents/uwidepolproc/equalopportunity.htm" target="_blank">Notice of Nondiscrimination</a><br>
                                <span class="text-bold">SPARTANS WILL.</span> | © Michigan State University
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script>
           if (!window.jQuery) { 
              document.write('<script src="js/jquery.min.js"><\/script>'); 
           }
        </script>
        <script>
            var articleUrl = window.location.href;
            var linkFacebook = 'https://www.facebook.com/sharer/sharer.php?u=' + articleUrl;
            var linkTwitter = 'https://twitter.com/home?status=' + articleUrl;
            var linkLinkedin = 'https://www.linkedin.com/shareArticle?mini=true&url=' + articleUrl + ' &title=[EasyDNNnews:Title]&summary=[EasyDNNnews:Summary]&source='
            var linkGoogle = 'https://plus.google.com/share?url=' + articleUrl;

            $('.js-share-link-facebook').attr('href', linkFacebook);
            $('.js-share-link-twitter').attr('href', linkTwitter);
            $('.js-share-link-linkedin').attr('href', linkLinkedin);
        </script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-96128578-1', 'auto');
        ga('send', 'pageview');
        </script>
        