		<header role="banner" class="header bg-dark-green">
		    <div class="container gutter">
		        <a href="https://msu.edu/" target="_blank"><img src="images/msu-logo.svg" alt="Michigan State University" class="header_logo"></a><br>
		        <a href="/"><img src="images/msu-food-text.svg" alt="MSU FOOD" class="header_title"></a>
		    </div>
		</header>
		