<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#18453b">
		<meta name="theme-color" content="#ffffff">
        <title>404 Not Found | MSU Food</title>
        <link rel="stylesheet" href="../style.css">
		<script src="https://use.typekit.net/rik7nvg.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>    </head>
    <body>
		<header role="banner" class="header bg-dark-green">
		    <div class="container gutter">
		        <a href="https://msu.edu/" target="_blank"><img src="images/msu-logo.svg" alt="Michigan State University" class="header_logo"></a><br>
		        <a href="/"><img src="images/msu-food-text.svg" alt="MSU FOOD" class="header_title"></a>
		    </div>
		</header>
		        <main role="main" class="bg-gradient-gray">
        <section class="container gutter">
            <h1>404 Not Found</h1>
            <p>The page you’re looking for has been moved or doesn’t exist. Please <a href="/">return to the home page</a> or try one of these stories instead.</p>
        </section>
        <section class="container gutter top-margin-lg">
            <h2 class="heading-secondary">Suggested Stories</h2>
				<div class="tile-grid">
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="msu-ag-innovation-day" class="tgrid-cell_inner tile-image-block tile-image-block--event">
							<div class="tib_inner">
								<div class="tib_date date-cube">
									<div class="dc_month">August</div>
									<div class="dc_day">24</div>
								</div>
								<h3 class="tib_title">MSU Ag Innovation Day</h3>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-ag-innovation.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="through-the-tunnel-reinvigoration-raspberries-in-michigan" class="tgrid-cell_inner tile-image-block tile-image-block--news">
							<div class="tib_inner">
								<h3 class="tib_title">Through the tunnel: Reinvigoration raspberries in Michigan</h3>
								<p class="tib_meta">By James Dau</p>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-hoophouses.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="integrated-pest-management-brings-better-agriculture-to-tajikistan" class="tgrid-cell_inner tile-image-block tile-image-block--news">
							<div class="tib_inner">
								<h3 class="tib_title">Integrated pest management brings better agriculture to Tajikistan</h3>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-tajikistan.jpg);"></div>
						</a>
					</div>
					<div class="tgrid-cell tgrid-cell--sm">
						<a href="gastropod" class="tgrid-cell_inner tile-image-block tile-image-block--event tile-image-block--no-mask">
							<div class="tib_inner">
								<div class="tib_date date-cube">
									<div class="dc_month">April</div>
									<div class="dc_day">8</div>
								</div>
								<h3 class="tib_title">Experience Gastropod Live!</h3>
							</div>
							<div class="tib_background" style="background-image: url(images/tile-small-gastropod.jpg);"></div>
						</a>
					</div>
				</div>            
        </section>
            <section class="footer-form bg-teal">
                <div class="container-xsm gutter spartan-accent-wrap">
                    <img src="images/spartan-helmet.svg" alt="" class="spartan-accent">
                    <script src="js/angular.min.js"></script>
                    <script src="js/ContactFormCtrl.js"></script>
                    <script src="js/angular-messages.min.js"></script>
                    <div id="contactForm" ng-app="ContactFormApp" ng-controller="ContactFormCtrl" class="contact-form ng-scope">
                        <div ng-show="formSent" class="ng-hide">Thank you</div>
                        <ng-form name="contactForm" ng-hide="formSent">
                            <h2 class="heading-heavy text-white">ASK OUR EXPERTS</h2>
            
                            <div class="form-item">
                                <input type="text" id="txtName" ng-model="data.Name" name="Name" required placeholder="name" />
                                <div ng-messages="contactForm.Name.$error" ng-show="contactForm.Name.$touched || contactForm.$showValidation">
                                    <div ng-messages="contactForm.Name.$error" ng-show="contactForm.Name.$touched || contactForm.$showValidation">
                                        <div ng-message="required" class="form-error-msg">Required</div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="form-item">
                                <input type="email" id="txtEmail" ng-model="data.Email" name="Email" required placeholder="email" />
                                <div ng-messages="contactForm.Email.$error" ng-show="contactForm.Email.$touched || contactForm.$showValidation">
                                    <div ng-messages="contactForm.Email.$error" ng-show="contactForm.Email.$touched || contactForm.$showValidation">
                                        <span ng-message="required" class="form-error-msg">Required</span>
                                        <span ng-message="email" class="form-error-msg">Invalid Email</span>
                                    </div>
                                </div>
                            </div>
            
                            <div class="form-item">
                                <textarea id="txtComment" ng-model="data.Comment" name="Comment" required placeholder="comment"></textarea>
                                <div ng-messages="contactForm.Comment.$error" ng-show="contactForm.Comment.$touched || contactForm.$showValidation">
                                    <div ng-messages="contactForm.Comment.$error" ng-show="contactForm.Comment.$touched || contactForm.$showValidation">
                                        <div ng-message="required" class="form-error-msg">Required</div>
                                    </div>
                                </div>
                            </div>
            
                            <input type="submit" value="Submit" ng-click="submitContactForm($event)" class="button-outline">
            
                        </ng-form>
                    </div>
                </div>
            </section>
            
        </main>
        <footer role="contentinfo">
            <section class="footer bg-gray">
                <div class="container-lg gutter">
                    <div class="social-links social-links--footer">
                        <a href="https://www.facebook.com/FoodAtMSU/"  target="_blank" class="social-link"><span class="svg-fb-white"></span><span class="visually-hidden">Like us on Facebook</span></a>
                    </div>
                    <h2 class="footer_heading">MSU Food</h2>
                    <p class="footer_text">MSU College of Agriculture <br>and Natural Resources<br>
                    446 W. Circle Drive<br>
                    East Lansing, MI 48824 </p>
                </div>
            </section>
            
            <section class="section-msu-dark section--gutter">
                <div class="msu-branding container-lg gutter">
                    <div class="media-lg">
                        <div class="media-lg_image msu-branding_image">
                            <a href="https://msu.edu/" target="_blank"><img src="images/msu-logo-dark.svg" alt=""></a><br>
                        </div>
                        <div class="media-lg_body">
                            <div class="msu-branding_nav-wrap">
                                <ul>
                                    <li><a href="http://vprgs.msu.edu/privacy" target="_blank">Privacy Statement</a></li>
                                    <li><a href="http://vprgs.msu.edu/accessibility" target="_blank">Site Accessibility</a></li>
                                </ul>
                            </div>
                            <div class="msu-branding_text-wrap">
                                Call MSU: <a href="tel:+15173551855" rel="nofollow">(517) 355-1855</a> |
                                Visit: <a href="https://msu.edu/" target="_blank">msu.edu</a> |
                                MSU is an affirmative-action, equal-opportunity employer. |
                                <a href="https://www.hr.msu.edu/documents/uwidepolproc/equalopportunity.htm" target="_blank">Notice of Nondiscrimination</a><br>
                                <span class="text-bold">SPARTANS WILL.</span> | © Michigan State University
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script>
           if (!window.jQuery) { 
              document.write('<script src="js/jquery.min.js"><\/script>'); 
           }
        </script>
        <script>
            var articleUrl = window.location.href;
            var linkFacebook = 'https://www.facebook.com/sharer/sharer.php?u=' + articleUrl;
            var linkTwitter = 'https://twitter.com/home?status=' + articleUrl;
            var linkLinkedin = 'https://www.linkedin.com/shareArticle?mini=true&url=' + articleUrl + ' &title=[EasyDNNnews:Title]&summary=[EasyDNNnews:Summary]&source='
            var linkGoogle = 'https://plus.google.com/share?url=' + articleUrl;

            $('.js-share-link-facebook').attr('href', linkFacebook);
            $('.js-share-link-twitter').attr('href', linkTwitter);
            $('.js-share-link-linkedin').attr('href', linkLinkedin);
        </script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-96128578-1', 'auto');
        ga('send', 'pageview');
        </script>
                
    </body>
</html>