<div class="secondary-nav" role="navigation" aria-label="Section Navigation">
  <ul>
    <li>
      <a href="/">Services</a>
    </li>
    <li>
      <a href="/">Portfolio</a>
    </li>
    <li class="is-breadcrumb has-child">
      <a href="/">Safety</a>
      <ul class="menu-child">
        <li>
          <a href="/">Child 1</a>
        </li>
        <li>
          <a href="/">Child 2</a>
        </li>
        <li>
          <a href="/">Child 3</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/">Employment</a>
    </li>
    <li>
      <a href="/">Company</a>
    </li>
    <li>
      <a href="/">News</a>
    </li>
    <li>
      <a href="/">Contact</a>
    </li>
  </ul>
</div>