<a href="" class="button-primary button--wide">
  Wide Button
</a>
<button class="button-primary button--wide">
  Wide Button
</button>

<a href="" class="button-primary button--large">
  Large Button
</a>
<button class="button-primary button--large">
  Large Button
</button>

<a href="" class="button-primary button--full">
  Full-Width Button
</a>
<button class="button-primary button--full">
  Full-Width Button
</button>

<button class="button-primary button--with-inner">
	<div class="button--inner">
		<span class="icon-phone"></span>
		24/7
	</div>
	<span class="button--inner__text">1(800)-594-9244</span>
</button>

<a href="" class="button-outline--dark">
  Red Outline Button
</a>
<button class="button-outline--dark">
  Red Outline Button
</button>