<!doctype html>
<html class="no-js" lang="">
    <head>
        {{> ../partial/head-meta}}
        <title>404 Not Found {{ shared_meta_title }}</title>
        {{> ../partial/head-styles}}
    </head>
    <body>
        {{> ../partial/header}}
        <main role="main" class="bg-gradient-gray">
        <section class="container gutter">
            <h1>404 Not Found</h1>
            <p>The page you’re looking for has been moved or doesn’t exist. Please <a href="/">return to the home page</a> or try one of these stories instead.</p>
        </section>
        <section class="container gutter top-margin-lg">
            <h2 class="heading-secondary">Suggested Stories</h2>
            {{> ../partial/stories/story-quad-2}}
            
        </section>
        {{> ../partial/contact-form}}

        </main>
        {{> ../partial/footer}}
        
    </body>
</html>