<!doctype html>
<html class="no-js" lang="">
    <head>
        {{> ../partial/head-meta}}
        <title>{{ wheat.title }} {{ shared_meta_title }}</title>
        {{> ../partial/head-styles}}
    </head>
    <body>
        {{> ../partial/header}}
        <main role="main" class="bg-gradient-gray">
        <article class="container gutter">
            <header>
                <h1>{{ wheat.title }}</h1>
                {{> ../partial/article-share-header}}

            </header>
            <img src="images/article-winter-wheat.jpg" alt="">
            <p>Wheat could rightly be called one of the cornerstones of American agriculture. Brought to the Western Hemisphere by colonists as early as the 15th century, wheat today is grown in nearly every state, with total national production estimated at nearly 60 billion tons.</p>
            <p>All wheats are not created equal, however. Nearly all wheat grown in the United States -- between 70 percent and 80 percent, according to the U.S. Department of Agriculture -- is considered winter wheat, which is planted in autumn and harvested in late summer. But winter wheat itself is divided into two market classes. Hard winter wheat, which features higher levels of gluten protein, is primarily used to make flour for yeast breads. Soft winter wheat, with considerably less gluten, is used in the production of the specialty flour used in cakes, cookies and other baked goods.</p>
            <p>Boasting over 600,000 acres and 8,000 farmers across 50 counties, Michigan ranks 12th in the nation in wheat production. In 2016, a record year for the industry, Michigan wheat farmers produced 51 million bushels of harvested grain worth approximately $388 million, according to the Michigan Wheat Program. Largely because of Michigan’s wet and humid climate, an overwhelming majority of the state’s wheat crop, nearly 99 percent, is soft winter wheat. Ensuring that Michigan farmers have the best tools to meet emerging challenges and continue to produce at record-setting levels lies at the heart of the Michigan State University (MSU) wheat breeding and genetics program, led by MSU AgBioResearch plant breeder Eric Olson.</p>
            <p>“It’s all about maximizing profitability for the growers,” said Olson, assistant professor in the MSU Department of Plant, Soil and Microbial Sciences. “The majority of wheat yield in Michigan is determined by the variety that’s planted, and increasing and protecting the genetic potential for yield is our top priority.”</p>
            <p>To develop the best new varieties of soft winter wheat and get them in the hands of farmers as quickly as possible, Olson’s team blends traditional plant breeding techniques with cutting-edge genomic technology. Traditionally, a plant breeder would take a pair of existing wheat varieties that display promising characteristics -- usually one that produces a very high grain yield and another with particularly high resistance to disease, drought or pests -- cross them in the lab and grow the result in a field plot, observing it over the course of years to see if it inherited the desired characteristics of its parent plants. Recent technological developments have provided the team with the ability to drastically speed up that process.</p>
            <p>Through a technique called genomic selection, Olson’s team is able to read and analyze the genotype, the collection of genetic information, of the new varieties that they develop as early as the very first cross, thus predicting in the lab how they will perform long before they ever see the field.</p>
            <p>“By doing this, we’re able to test just the best, most promising plants,” Olson said. “The cost of genotyping is 25 percent of the cost of a single plot in the field. We can also cycle through more generations of plants in the greenhouse, rather than having to grow each one to maturity. We make six years’ worth of progress in just eight months.”</p>
            <p>Olson’s team makes more than 800 new crosses and monitors nearly 12,000 test plots on the MSU campus and at farms around the state each year. Of those, only two to four will show sufficient quality to be released to the wider wheat industry as new varieties.</p>
            <p>“Improving grain yield is our No. 1 breeding objective,” Olson said. “Our No. 2 is disease resistance, especially to Fusarium head blight, because plant disease is the primary threat to yield in the field.”</p>
            <p>In addition to breeding new varieties, Olson’s team conducts fundamental research on wheat genetics and adds genetic information to their pool of breeding resources. Currently, they are working to clone new genes for disease resistance from goatgrass, a grass from the Near East that is the closest wild relative to cultivated wheat. In particular, the team has found several genes for resistance to stripe rust, a fungal disease that reached epidemic proportions across Michigan last season. They are also making progress discovering genes that could increase grain yield by maximizing the energy generated through photosynthesis.</p>
            <p>“By studying genetic material from the wild, we’re able to find new sources of disease resistance and yield,” Olson said. “We’re adding to the depth of the gene pool that we have to work with.”</p>
            <p>When Olson took over the MSU wheat breeding and genetics program in 2013, he inherited a program committed to helping improve the businesses and livelihoods of farmers throughout the state, one with years of hard work and dedicated scientists already behind it.</p>
            <p>“Wheat breeding is a long-term investment because of the impact it has on rural economies,” Olson said. “Agriculture is a network of interconnected businesses that rely on one another, but it all starts in the field. If the fields are more productive, if the farmers are turning more of a profit, that means they’re buying more equipment, expanding their operations, and creating and maintaining more jobs at every level of the industry. Everyone benefits, and we’re here to help make sure that stays a reality.”</p>
            {{> ../partial/article-share-footer}}

        </article>
        <section class="container gutter">
            <h2 class="heading-secondary">Related Stories</h2>
            <div class="tile-grid">
                {{> ../partial/stories/story-quad-2}}
            
            </div>
        </section>

        {{> ../partial/contact-form}}

        </main>
        {{> ../partial/footer}}
        
    </body>
</html>