<!doctype html>
<html class="no-js" lang="">
    <head>
        {{> ../partial/head-meta}}
        <title>{{ central_asia.title }} {{ shared_meta_title }}</title>
        {{> ../partial/head-styles}}
    </head>
    <body>
        {{> ../partial/header}}
        <main role="main" class="bg-gradient-gray">
        <article class="container gutter">
            <header>
                <h1>{{ central_asia.title }}</h1>
                <p class="article_meta">Article by {{ central_asia.author }}</p>
                {{> ../partial/article-share-header}}

            </header>
            <img src="images/article-montcalm.jpg" alt="">
            <h2>Kyrgyzstan learns from techniques taught at MSU</h2>
            <p>Christmas Day, 1991. Kyrgyzstan test achieves full independence, ending an era of Soviet rule stretching back to the end of World War I. Those living in the mountainous nation in Central Asia suddenly found themselves governed by elected officials in their own capital of Bishkek.</p>
            <p>While the change brought freedom, it also brought challenges; among them, food and agriculture. Suddenly, the newly reborn country found itself responsible for its own institutional infrastructure, something previously under tight Soviet control. This was only complicated by the political, cultural and linguistic isolation that was inherited from the previous government. Up until then, contact with Western scientists and resources had been deemed a national security threat, and access to English-language materials, which made up the bulk of agriculture research, was heavily restricted.</p>
            <p>As a result, Kyrgyz farmers had been left without access to the latest advancements -- in particular, pest management methods and technologies. They continued to rely heavily on chemicals for disease and insect control, which eventually contaminated the soil and water.</p>
            <p>Murat Aitmatov, a professor at Kyrgyz National Agrarian University (KNAU) in Bishkek and director of its Center for Bio-Cultural Diversity, was all too familiar with the challenges confronting his homeland.</p>
            <p>“After the Soviet Union collapsed, many people who had never farmed before suddenly found themselves having to do so,” Aitmatov recalled. “They were teachers, veterinarians, doctors. They didn’t have enough information or training in agriculture, so they ended up using a lot of chemicals.”</p>
            <p>The need for new, innovative solutions for Kyrgyzstan’s food and agriculture industry was clear, and it nabbed the attention of researchers at Michigan State University (MSU).</p>
            <h2>New partners, new opportunities</h2>
            <p>Kyrgyzstan did not stand alone for long. In the wake of the Soviet collapse, the International Center for Agricultural Research in Dry Areas (ICARDA), a non-profit international agricultural development organization operating across Africa and Asia, established a regional office to facilitate the development of the fledgling agricultural sector. MSU was among ICARDA’s partners at the time, the only land-grant university from the United States to join the organization’s consortium for Central Asia and the Caucasus.</p>
            <p>Karim Maredia, MSU professor in the Department of Entomology and program director for the World Technology Access Program, said the agricultural challenges facing Kyrgyzstan quickly became apparent. In 2005, he was awarded a small planning grant from the Feed the Future Innovation Lab for Integrated Pest Management (IPM) at Virginia Technological University, funded by the U.S. Agency for International Development (USAID), to explore a collaborative, multi-institutional effort to connect the countries of Central Asia with the global IPM community and improve agricultural capacity.</p>
            <p>“The countries we traveled to had limited resources to dedicate to agriculture, and they had very little capacity for research or an extension system,” Maredia said. “All the earlier work was done by non-governmental organizations, which came and went for different projects but rarely stayed. We wanted to build their capacity for a sustainable agriculture industry, to help them be able to help themselves and secure long-term food security solutions.”</p>
            <p>During the first year, Maredia and a team of faculty members from MSU and the University of California, Davis, traveled to Kyrgyzstan and two of its neighboring nations – Uzbekistan and Tajikistan – to assess the situation and determine where efforts would best be spent. They identified wheat, potatoes and tomatoes as the crops with the most food security significance. Then they hired a research fellow from each of the countries to implement the new programs in the field. The team chose Aitmatov to be the Kyrgyzstan rep.</p>
            <p>“Aitmatov had a keen interest to work with farmers, to bring new information to them,” Maredia said. “We didn’t want to just bring modern IPM science to the country -- we wanted to put into the hands of the farmers. Murat knew the farmers and could teach them in their own language. Our entire project benefited a great deal from his involvement.”</p>
            <p>Aitmatov and his colleagues from Tajikistan and Uzbekistan traveled to MSU in the summer of 2006 for a two-week IPM training course. Aitmatov ended up staying a month longer, during which time he met George Bird, professor in the MSU Department of Entomology, who also happened to be a member of the MSU team that had traveled to Central Asia the year before. Bird showed Aitmatov the Student Organic Farm (SOF) at MSU.</p>
            <p>SOF was founded to provide practical, hands-on training to MSU students interested in sustainable, organic agriculture. Over time, the farm expanded its operation and opportunities to encompass year-round farming, a challenging prospect given Michigan’s harsh winters and uncertain springs, through cold storage and hoophouse technology, as well as allowing the students to sell the produce they cultivate locally.</p>
            <blockquote>
                <p>Seeing MSU’s successful operation inspired Aitmatov to think of ways to do similar work in his home country.</p>
            </blockquote>
            <p>“Kyrgyzstan used to have similar ideas, like training students at hoophouses, but we lost all that when the Soviet Union collapsed,” he said. “I was impressed with how the students at MSU worked together to grow and sell the food, learning about the whole agricultural process from start to finish.”</p>
            <p>Aitmatov took the SOF concept back to Kyrgyzstan, along with a number of techniques practiced such as using multiple plastic layers to insulate the crops. He established agricultural field schools based on the SOF model and began training a new generation of Kyrgyz farmers and researchers using the practical, modern technologies he discovered at MSU.</p>
            <p>“Having such a field school in Kyrgyzstan has been irreplaceable,” Aitmatov said. “You can’t just read about these techniques in a book or hear about them in a classroom -- you have to see them in the field. It is better to do something once than to listen to people talk about it 100 times.”</p>
            <p>One of the first issues that Aitmatov and his international colleagues tackled was testing new crop varieties better suited to his country’s rugged landscape. With a significant percentage of farmers living and working at 3,937 to 11,154 feet above sea level, having access to high-elevation cultivars that were also pest- and disease-resistant was of critical importance.</p>
            <p>“Murat was very interested in season extension technologies -- how a farmer could continue to grow things in the coldest parts of the year,” Bird said. “He’s also a great engineer, so he was able to take our ideas back home and develop them under his own conditions.”</p>
            <p>Aitmatov and his colleagues selected 30 potato cultivars from MSU and took them to Kyrgyzstan so the farmers could test them for pest and disease resistance in the region. Two of the varieties were eventually approved for use and continue to be grown by the region’s farmers.</p>
            <p>“We did a potato field day, where farmers could dig the potatoes and make chips from them,” Aitmatov said. “It was the first time any of them had seen a purple potato. They were able to try the different kinds and compare them and talk about them. Everyone who came that day remembers it and still talks about it now.”</p>
            <p>The project team also introduced the concept of using beneficial insects to control agricultural pests and lessen the need for chemical pesticides. By incorporating plants that attract beneficial insects, such as dill, in their regular crop rotation cycles, farmers were able to cultivate beneficial insect populations that fed on harmful insects that posed a crop threat. They also found ways to put to use the insect-luring crops, such as in canning products for sale.</p>
            <h2>A new generation</h2>
            <p>With the field school established, students began flocking to learn about Aitmatov’s innovative approach to agriculture. Among them was Saltanat “Salta” Mambetova, who joined the student field school in 2008 during her third year at KNAU. She and her classmates spent their time working to adapt hoophouse technology so tomatoes could be planted well in advance of the usual season, as well as testing tomato varieties for drought tolerance.</p>
            <p>In her second year at the field school, Mambetova presented her work at an international IPM forum held in Bishkek, and it was there she crossed paths with Maredia’s project.</p>
            <p>“I met many professors from MSU at the forum,” she recollected. “Dr. Maredia noticed my work and asked me if I’d like to come to MSU for graduate school. At the time, I thought it was just a dream.”</p>
            <p>Two years later, however, that dream proved anything but. Thanks to a grant from the Central Asia IPM project, Mambetova left home at the age of 22, speaking little English, and came to MSU. She is studying under potato breeder David Douches, a professor in the Department of Plant, Soil and Microbial Sciences.</p>
            <p>“Before I left, my mom told me that this was my choice to go, that I was going on an adventure very far from home, and so I had to finish what I planned and then come back,” Mambetova said. “When I first came to MSU, I was so scared – the culture shock, the language barrier – I thought it was all too much. But the people who surrounded me, my friends, the people in the potato program, they helped me adjust and become stronger. Now looking back, I would do it all again.”</p>
            <p>Under Douches’s tutelage, Mambetova learned much about potato breeding and genetics. This is extremely important -- Kyrgyzstan is the second highest consumer of potatoes per capita globally, behind only Belarus. The country also relies heavily on the crop to ensure food security, but potatoes face major pest and disease threats.</p>
            <p>Her graduate work focused on developing potato varieties to help farmers in her home country protect their crops from the most damaging pests and diseases -- Colorado potato beetle, golden nematode, late blight and common scab.</p>
            <p>Mambetova and the Douches lab selected two varieties, Missaukee and Dakota Diamond, as the most promising from a pool of 30. These varieties are currently undergoing final testing before being made available in Kyrgyzstan.</p>
            <p>Bringing the fruits of her labor back home has always been Mambetova’s goal.</p>
            <p>“It’s very important I bring what I’ve learned back home,” she said. “Our universities want to have more of an exchange of research ideas, students and faculty so that we can learn new ways of doing science and applying that in the field. The collaboration with MSU has been very significant.”</p>
            <p>Her work has also benefited the people of Michigan. Immediately after completing her master’s degree, Mambetova was approached by William Kirk, professor in the MSU Department of Plant, Soil and Microbial Sciences, who offered her a position in his lab as a Ph.D. student.</p>
            <p>Mambetova continues her work with potatoes, using varietal lines developed by Douches’s lab but focusing on developing late blight resistance and fungicides to help Michigan growers.</p>
            <p>In the future, Mambetova sees herself returning home to pass on her teachings.</p>
            <p>“I’ve changed a lot through the opportunities that the Central Asia IPM project gave me,” Mambetova said. “I definitely feel a responsibility to take what I’ve learned and bring it to others. The teaching here at MSU is so different from what I had before, so I would love to take that back home to teach others.”</p>
            <h2>A lasting impact</h2>
            <p>It’s been 10 years since Aitmatov joined Maredia’s project team, and the Central Asia IPM project has now ended. The impact, however, will continue in future decades.</p>
            <p>“Of all the projects I’ve worked on, I take great satisfaction in this one,” Maredia said. “MSU entered a mostly unknown area and produced a lasting important impact and forged new international partnerships.”</p>
            <p>The efforts helped break the region’s isolation in the wake of the Soviet collapse. They also introduced new, innovative IPM efforts as well as extension and science outreach to help Kyrgyzstan build its capacity for continuing domestically.</p>
            <p>“That’s what we are about here at MSU, after all,” Maredia said. “Sharing knowledge, training people and building local capacity to solve pressing problems in food and agriculture globally.”</p>
            <p>For Aitmatov, the project meant a revitalization of his country’s agriculture.</p>
            <p>“My only regret is that I couldn’t learn these methods and techniques earlier in my career,” Aitmatov said. “But taking this knowledge into the fields, communicating with farmers and growers, that’s why I’m happy and still feel young. I have to thank God I was able to meet the highly regarded professors at MSU who helped us achieve all this.”</p>
            {{> ../partial/article-share-footer}}

        </article>
        <section class="container gutter">
            <h2 class="heading-secondary">Related Stories</h2>
            <div class="tile-grid">
                {{> ../partial/stories/story-quad-3}}
            
            </div>
        </section>
        
        {{> ../partial/contact-form}}

        </main>
        {{> ../partial/footer}}
        
    </body>
</html>