<!doctype html>
<html class="no-js" lang="">
    <head>
        {{> ../partial/head-meta}}
        <title>{{ montcalm.title }} {{ shared_meta_title }}</title>
        {{> ../partial/head-styles}}
    </head>
    <body>
        {{> ../partial/header}}
        <main role="main" class="bg-gradient-gray">
        <article class="container gutter">
            <header>
                <h1>Potato Progress: {{ montcalm.title }}</h1>
                <p class="article_meta">Article by {{ montcalm.author }}</p>
                {{> ../partial/article-share-header}}

            </header>
            <img src="images/article-montcalm.jpg" alt="">
            <p><i>The potato is intrinsically linked to the history of America. Originating in the Andes Mountains of South America, the hardy tuber traveled aboard Spanish explorers’ ships to Europe, where it spread throughout the continent. It eventually returned home to the Western Hemisphere in the cargo holds of colonists in search of new lives, land and treasures in about 1620.</i></p>
            <p><i>Today, Michigan boasts a vibrant potato industry. The state is the No. 1 producer of potatoes for the chipping industry and eighth overall in potato production. The Michigan potato industry annually generates approximately $1.24 billion, accounts for more than 3,200 jobs, and involves 70 farms and nearly 50,000 acres.</i></p>
            <hr>
            <p>Growing up in Sutton, Massachusetts, Richard Chase had little idea just how much his future would be linked to the potato. Though he helped grow and harvest potatoes, among many other crops at his family’s farm, it wasn’t until he graduated from Rutgers University and was hired by the Michigan State University (MSU) Department of Crop and Soil Sciences (now the Department of Plant, Soil and Microbial Sciences) that he received his first potato assignment. The year was 1962.</p>
            <p>“Potatoes weren’t on my agenda back then,” said Chase, who would go on to spend his 40-year career at MSU. “As a new MSU faculty member, I was very happy to have a focus, however. Especially on a crop that was so important to the state.”</p>
            <p>At the time, much of the MSU field research on potatoes took place at the Lake City Research Center in the north central region of the Lower Peninsula. However, the majority of production was happening farther south in the lighter, sandier soils of Montcalm and Bay counties. A search ensued to find a new home for potato research. Ultimately, researchers settled on Lakeview in Montcalm County, which had more than 17,000 acres of potatoes and was situated in the heart of Michigan potato country.</p>
            <p>It was there, through the Montcalm County MSU Extension office, that Chase met potato grower Theron Comden, who also was the director of the county’s conservation district. Comden arranged to lease 40 acres of available land in the district to start the Montcalm Research Center in 1966.</p>
            <p>“Comden was very sincere in wanting to make farm technology available to people so they could learn,” Chase said.</p>
            <p>The research trials in Montcalm began a year later in 1967, with Chase serving as faulty coordinator. The new center provided not only land, but consistent irrigation and pest and disease management tailored to fit each trial’s specific needs. Researchers brought their expertise, and soon Montcalm was bustling with activity.</p>
            <p>The new location was a boon for growers as well. Its accessible location in the midst of a vibrant potato region allowed Chase and fellow researchers and staff members to hold field days to showcase advancements and provide equipment and technique demonstrations for farmers across the region.</p>
            <p>“Since the center is in a real potato-growing area, farmers pay particular attention to what’s going on there,” Chase said. “They have a better feeling about the results because they know the information is coming from an area where they’re also farming.”</p>
            <h2>Partnerships for a changing industry</h2>
            <p>Ten years after the founding of the Montcalm Research Center, the Michigan Potato Industry Commission (MPIC) was created under state law to foster and promote the Michigan potato industry around the country and around the world. A priority of the organization has been to help ensure that Michigan potatoes remain not just competitive but superior in the global marketplace. A significant part of the MPIC mission from the beginning has been to support potato research. Ongoing projects at the center proved worthy beneficiaries of that support.</p>
            <p>“The Montcalm Research Center was a natural place to focus our efforts because the research farms drive agricultural innovation in the state,” said Ben Kudwa, who served as MPIC executive director from 1986 until 2012. “Even before my time, they were providing the industry with the varieties and practices it needed to stay competitive, and that has only continued over the years.”</p>
            <p>Kudwa worked closely with Chase through many dramatic changes in the industry. For much of its history, Michigan predominantly produced potatoes for the fresh market, but economic changes during the 1970s and 1980s saw increased demand for potato chips, and in that, Chase and Kudwa saw an opportunity for Michigan.</p>
            <p>“Many of us in the industry, as well as Dr. Chase, believed we could find a niche for chipping potatoes,” Kudwa recalled. “Through various industry and research efforts, we did, and we’ve been riding that horse ever since.”</p>
            <p>Supplying the potato chip industry required a different kind of potato, however. Chipping potatoes require a higher dry matter content – the volume of solids in the potato as opposed to water – than potatoes for the fresh market, and the researchers at Montcalm set out to develop varieties that fit the bill. The result of their efforts yielded such varieties as Kalkaska and Liberator, and Manistee, which found acceptance not only in Michigan but beyond the state borders.</p>
            <p>Another key need of the chipping industry is long-term potato storage. To better serve the needs of growers, a pair of demonstration storage facilities was built, one in 2000 and another in 2009, on property adjacent to the center. Researchers have been able to quickly assess the long-term storage viability of the varieties they develop at the center to ensure that Michigan potatoes continue to meet the highest requirements of the industry.</p>
            <p>About 70 percent of Michigan potatoes are used in the potato chipping industry and serve the entire potato market east of the Mississippi River, thanks to the varieties and technology pioneered through the close partnership between MSU and the potato industry.</p>
            <h2>A strong vision for the future</h2>
            <p>After Chase retired in 2002 and Kudwa in 2012, the partnership has continued under a new generation of researchers who are helping shepherd the Michigan potato industry into the 21st century.</p>
            <p>Dave Douches, professor in the MSU Department of Plant, Soil and Microbial Sciences and director of the MSU Potato Breeding and Genetics program, took over the reins from Chase as faculty coordinator of the center.</p>
            <p>“For me, the research farm is a very critical site for us to conduct the agronomic evaluations of our breeding materials,” Douches said. “We also run our genetic experiments and our disease and insect nurseries there. We’re highly invested in the Montcalm Research Center and its management to ensure that we continue to get good results from our work.”</p>
            <p>Over the past 14 years, Douches has seen the research center expand in both land and scope to increase its capacity to serve Michigan agriculture. MSU purchased additional land to the south of the original site and has leased an additional 37 acres beyond that. More land means that the researchers have more space not only to continue their research trials but also to rotate their crops among more fields to keep the soils at the research center healthy and improve its long-term viability.</p>
            <p>Douches’s breeding trials are the largest program at the center, but they are far from the only ones. He shares the site with nine other MSU researchers as they work on every aspect of potato agriculture, including soil health, pest and disease management, and water use. The center has also become the second-most important home of university dry bean research behind the Saginaw Valley Research and Extension Center in Frankenmuth.</p>
            <blockquote>
                <p>Potatoes remain the primary focus, however, and the strong partnership with MPIC has ensured that the center’s research programs remain tailored to the needs of Michigan potato farmers.</p>
            </blockquote>
            <p>“Our industry’s research probably wouldn’t get done without the Montcalm Research Center,” said Michael Wenkel, executive director of the MPIC. Wenkel succeeded Kudwa in 2012 after a 17-year career at the Michigan Farm Bureau. “It’s become part of the culture of our industry, and we’re proud of our commitment to supporting the center and the research that happens there.”</p>
            <p>In addition to continued variety development, Wenkel says one of the key research efforts as the industry and the MSU research programs look to the future is a renewed emphasis on soil health to ensure the long-term viability of the Michigan potato industry.</p>
            <p>“We’re continuing to broaden our team and look at how all these aspects play a role in helping potatoes,” Wenkel said. “We’re trying now to look beyond just producing high yields to see the bigger picture.”</p>
            <p>Chris Long, MSU Extension potato specialist, affirms that the strong ties between industry and the university will be the key to creating the future of Michigan potatoes.</p>
            <p>“We have a strong partnership with the Michigan potato industry, and there’s no better symbol of that than the Montcalm Research Center being adjacent to the MPIC demonstration storage facilities,” Long said. “An outsider looking at it would think it was all one research farm. The facility continues to improve, the university continues to maintain it and run research programs through it, and the industry continues to support it. It serves as a touchstone for the agricultural community of the whole region.”</p>
            <p>Montcalm Research Center continues to lead the way in many of the industry’s new frontiers.</p>
            <p>“In my experience, the Michigan potato growers have been very responsive to the advances that have come out of the center,” Chase said. “They were always looking for new ideas and techniques, and we were able to help provide them with answers to their needs.”</p>
            <p>To learn more about Montcalm Research Center, visit <a href="http://agbioresearch.msu.edu/centers/montcalm">agbioresearch.msu.edu/centers/montcalm</a>.</p>
            {{> ../partial/article-share-footer}}

        </article>
        <section class="container gutter">
            <h2 class="heading-secondary">Related Stories</h2>
            <div class="tile-grid">
                {{> ../partial/stories/story-quad-2}}
            
            </div>
        </section>
        
        {{> ../partial/contact-form}}

        </main>
        {{> ../partial/footer}}
        
    </body>
</html>