<!doctype html>
<html class="no-js" lang="">
    <head>
        {{> ../partial/head-meta}}
        <title>{{ soybean.title }} {{ shared_meta_title }}</title>
        {{> ../partial/head-styles}}
    </head>
    <body>
        {{> ../partial/header}}
        <main role="main" class="bg-gradient-gray">
        <article class="container gutter">
            <header>
                <h1>{{ soybean.title }}</h1>
                <p class="article_meta">Article by {{ soybean.author }}</p>
                {{> ../partial/article-share-header}}

            </header>
            <img src="images/article-soybean.jpg" alt="">
            <p>Michigan’s agricultural community prides itself on the variety of crops grown throughout the state. From apples to sugar beets, Michigan boasts the nation’s second-most diverse cropping system. Despite this diversity, a few commodities dominate the bulk of Michigan farmland: corn, soybeans, dry beans and wheat.</p>
            <p>These four staples are the focus of Martin Chilvers’ research program at Michigan State University (MSU). As a plant pathologist and assistant professor in the MSU Department of Plant, Soil and Microbial Sciences, Chilvers is searching for ways to combat diseases that threaten some of Michigan’s highest-valued crops.</p>
            <p>According to the Michigan Soybean Promotion Committee, soybeans contribute $1.67 billion to the state’s economy each year — and more than 14,000 jobs.</p>
            <p>The soybean, which is native to East Asia, is a versatile plant that serves a multitude of purposes. Raw soybeans are toxic to people, so most are processed for the oil, which is refined for human consumption. Soy-based foods such as soy milk and tofu are also popular substitutes for dairy and meat products.</p>
            <p>The extracted oil can also be used to create fuels, lubricants, cleaning solutions and other bioproducts. Animal feed is often made from the fiber left over after removing the oil.</p>
            <p>“Soybeans are a crucial component of Michigan agriculture,” Chilvers said. “Ever since I arrived at MSU, my team and I have been active in meeting with soybean growers to learn about how we can best serve their needs. Several diseases affect soybeans, and we’ve done a lot of work with them.”</p>
            <p>With funding from MSU Project GREEEN (Generating Research and Extension to meet Economic and Environmental Needs) and the U.S. Department of Agriculture (USDA) National Institute of Food and Agriculture, Chilvers has led a team of scientists from across the country to identify the diversity and prevalence of fungus-like soybean diseases in 11 states.</p>
            <p>Numerous species of fungus-like organisms called oomycetes cause soybean seedling blight. Symptoms of infection include rotten seeds or seedlings and lesions on living plants. Moist soils are prone to seedling blight, but the disease occurs in a number of climates.</p>
            <p>To determine the prevalence of oomycetes across the soybean belt, including Michigan, samples were collected by research collaborators from 11 states and sent to the Chilvers lab for analysis. Chilvers and his team identified a total of 84 species of oomycetes using DNA sequencing and characterized these species for their ability to cause disease. Chilvers found that the oomycete composition varied by region, with the oomycetes in Michigan being similar to those in adjacent states.</p>
            <p>“Once we’ve got a good idea of what we’re dealing with, we can identify treatments and management tactics that work best,” Chilvers said. “Both in the lab and then later in the field, we are testing the fungicide sensitivity of the oomycetes. We’ve been working with companies to test different chemistries.”</p>
            <p>Although the initial project has been completed, Chilvers wants to continue testing treatments with industry support.</p>
            <p>“Our team has been fortunate to have the backing of seed companies and commodity organizations,” Chilvers said. “The Michigan Soybean Promotion Committee, in particular, has been a great partner and has taken an active role in moving the research forward.”</p>
            <p>In addition to his work with oomycetes, Chilvers has tackled other soybean challenges such as sudden death syndrome and white mold. He understands the importance of finding solutions and getting information in the hands of growers.</p>
            <p>Chilvers is one of many extension specialists who has provided expertise to the Crop Protection Network (CPN), a multi-university, international endeavor to distribute research information to growers. Alongside MSU are fellow land-grant institutions Iowa State University, Purdue University and the University of Wisconsin. The CPN website currently focuses on corn and soybeans but is expanding its focus.</p>
            <p>In summer 2016, Chilvers traveled to Denver, Colorado, to meet with other members of the CPN. The group spent a few days writing material for the website and will continue to assemble in the future. The CPN is supported by the USDA, the North Central Soybean Research Program, the United Soybean Board and the Grain Farmers of Ontario.</p>
            <p>“Our research spans everything from very basic molecular-level work such as genome sequencing or population genetic analysis to applied research, where we may be conducting a field trial to test the efficacy of a fungicide or biological pesticide,” Chilvers said.</p>
            <p>“But there is always a real-world component to solving these problems facing our growers. Of course traditional extension efforts are important, but with communications tools like the CPN, we can disseminate information quicker and to a wider audience. That allows us to have a significantly larger impact.”</p>
            <p>For more information on the CPN, visit <a href="http://www.cropprotectionnetwork.org">cropprotectionnetwork.org</a>.</p>
            {{> ../partial/article-share-footer}}

        </article>
        <section class="container gutter">
            <h2 class="heading-secondary">Related Stories</h2>
            <div class="tile-grid">
                {{> ../partial/stories/story-quad-2}}
            
            </div>
        </section>
        
        {{> ../partial/contact-form}}

        </main>
        {{> ../partial/footer}}
        
    </body>
</html>