<!doctype html>
<html class="no-js" lang="">
<head>
    {{> ../partial/head-meta}}
    <title>{{ gastropod.title }} {{ shared_meta_title }}</title>
    {{> ../partial/head-styles}}
</head>
<body>
    {{> ../partial/header}}
    <main role="main" class="bg-gradient-gray">
        <article class="container gutter">
            <header>
                <h1>{{ gastropod.title }}</h1>
                <p class="article_meta">
                    {{ gastropod.month }} {{ gastropod.day }}, 2017 at 7-8:00 PM<br>
                    Doors open at 6:30pm - First come first served seating<br>
                    <a href="https://maps.google.com/maps/place/Kellogg+Hotel+%26+Conference+Center/@42.7316308,-84.4932103,15z/data=!4m5!3m4!1s0x0:0xc9acac4e29c59032!8m2!3d42.7316308!4d-84.4932103" target="_blank">Kellogg Hotel and Conference Center Auditorium</a>
                </p>
                {{> ../partial/article-share-header}}

            </header>
            <img src="images/article-gastropod.jpg" alt="">
            <p>Gastropod is the award-winning podcast that looks at food through the lens of science and history. Every other week, Cynthia and Nicola release a new episode that explores the hidden history and surprising science behind a particular food- or farming-related topic, from aquaculture to ancient feasts, from cutlery to chile peppers, and from music to Malbec. Join us and savor this very special live podcast event!</p>
            <p>What are the chances that your olive oil is fake, or that your yellowtail sushi roll is really escolar instead? How did seltzer get its fizz, and what are those bubbles doing to your taste buds? And what's the story behind your Hershey kiss or your high-end, artisanal chocolate bar? In this special live performance of the podcast Gastropod, co-hosts Cynthia Graber and Nicola Twilley will serve up a three-course feast for your eyes and ears. From live experiments to interactive tastings, the evening will combine special guests and field recordings to reveal the history and science behind the food we eat every day. Special guests will include John Spink, founder and director of the Food Fraud Initiative at MSU, and Helen Veit, a MSU historian who focuses on food and nutrition.</p>
            <p><strong>A Special thanks to Ag Bio Research for their sponsorship of Gastropod.</strong></p>
            <p>For more details, see the <a href="http://sciencefestival.msu.edu/Event/View/177" target="_blank">schedule listing</a>.</p>
            {{> ../partial/article-share-footer}}

        </article>
        <section class="container gutter">
            <h2 class="heading-secondary">Related Stories</h2>
            <div class="tile-grid">
                {{> ../partial/stories/story-quad-4}}
            
            </div>
        </section>
        
        {{> ../partial/contact-form}}

    </main>
    {{> ../partial/footer}}

</body>
</html>