<!doctype html>
<html class="no-js" lang="">
<head>
    {{> ../partial/head-meta}}

    <title>Home {{ shared_meta_title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    {{> ../partial/head-styles}}
    
</head>
<body>
    <header role="banner" class="header header--front">
        <div class="container gutter">
            <a href="https://msu.edu/" target="_blank"><img src="images/msu-logo.svg" alt="Michigan State University" class="header_logo"></a><br>
            <img src="images/msu-food-text.svg" alt="MSU FOOD" class="header_title">
        </div>
    </header>

    <main role="main">
        <h1 class="visually-hidden">Michigan State University - MSU FOOD</h1>
        <p>test 132</p>
        <section class="home-carousel-wrap">
            <div class="home-carousel_container">
                <div id="owl-carousel" class="owl-carousel home-carousel" role="listbox" tabindex="0" id="listbox1">
                    <div class="item"> 
                        <div class="home-carousel_slide home-carousel_slide--lighter gutter">
                            <div class="home-carousel_text">
                                <h2 class="home-carousel_title">Welcome to Our Table.</h2>
                                <p class="home-carousel_body">Some of life’s most meaningful conversations happen around the dinner table. You’re invited to pull up a chair as we talk about food and health.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="home-carousel_slide gutter">
                            <div class="home-carousel_text">
                                <h2 class="home-carousel_title">Let's Talk</h2>
                                <p class="home-carousel_body">What are your top questions in regards to food and health? We will gather answers from our team of Food Fellows. Email your questions to <a href="mailto:food@msu.edu?subject=Let's Talk">food@msu.edu</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="home-carousel_slide gutter">
                            <div class="home-carousel_text">
                                <h2 class="home-carousel_title">RSVP</h2>
                                <p class="home-carousel_body">
                                Our Table is where scientists, farmers, and consumers talk food. Our first community roundtable discussion will happen this fall. RSVP at <a href="mailto:food@msu.edu?subject=RSVP">food@msu.edu</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="home-carousel-controls">
                <li class="hcc_item">
                    <div class="hcc_image-wrap hcc_image-wrap--1">
                        <img src="images/banner-table.svg" alt="">
                    </div>
                    <span>Welcome</span>
                </li>
                <li class="hcc_item">
                    <div class="hcc_image-wrap hcc_image-wrap--2">
                        <img src="images/banner-convo.svg" alt="">
                    </div>
                    <span>Let's Talk</span>
               </li>
                <li class="hcc_item">
                    <div class="hcc_image-wrap hcc_image-wrap--3">
                        <img src="images/banner-rsvp.svg" alt="">
                    </div>
                    <span>RSVP</span>
                </li>
            </ul>
        </section>

        <section class="bg-gradient-gray">
            <div class="container gutter overflow-hidden tile-grid-wrap--home">
                <!-- <div class="isotope-grid tile-grid" data-isotope='{ "itemSelector": ".tgrid-cell", "layoutMode": "fitRows" }'> -->
                <div class="tile-grid">
                    {{> ../partial/stories/story-triple-1}}
                    
                    {{> ../partial/stories/story-quad-4}}

                    {{> ../partial/stories/story-double-1}}

                </div>
            </div>
        </section>
        {{> ../partial/contact-form}}

    </main>
    {{> ../partial/footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="js/front-page.js"></script>
    <!-- <script src="js/isotope.min.js"></script> -->
</body>
</html>