<!doctype html>
<html class="no-js" lang="">
<head>
    {{> ../partial/head-meta}}
    <title>{{ tajik.title }} {{ shared_meta_title }}</title>
    {{> ../partial/head-styles}}
</head>
<body>
    {{> ../partial/header}}
    <main role="main" class="bg-gradient-gray">
        <article class="container gutter">
            <header>
                <h1>{{ tajik.title }}</h1>
                <p class="article_meta">Article by {{ tajik.author }}</p>
                {{> ../partial/article-share-header}}

            </header>
            <img src="images/article-tajikistan.jpg" alt="">
            <p>Kyrgyzstan was not the only nation in Central Asia left grappling for self-sufficiency in the wake of the Soviet collapse. Every country in the region faced challenges, but Tajikistan was in a particularly dire place. The country had produced very little food. Through the government, Tajik farmers grew major crops such as wheat and cotton and relied on imports from other Soviet republics to provide the food crops necessary to feed the 4 million people in the mountainous country. That agreement became null Sept. 5, 1991, when Tajikistan declared its independence from the USSR. By Christmas of that year, the country stood on its own. While many celebrated, others worried – largely about how they could change the agricultural landscape to provide food instead of commodities.</p>
            <p>Tajikistan ranked as the poorest nation in Central Asia, and the end of the Soviet era did little to change that. In fact, the breakup of the USSR dealt a significant blow to the fragile Tajik economy, prompting 15 percent of its population, primarily men, to leave and seek employment opportunities elsewhere.</p>
            <p>This left many of the nation’s farms in the hands of women, children and the elderly, and expertise, both through experience and extension education, was in short supply. Agricultural production had declined by more than 55 percent by 1997, with little sign of improving. Tajik entomologist Nurali Saidov, trained during the Soviet period, witnessed the change.</p>
            <p>“Like the rest of Central Asia, Tajikistan had to transition from a centrally planned monoculture  agricultural system to a more diversified one that met our food needs,” Saidov said. “It was a challenging adjustment, particularly during that time.”</p>
            <h2>Reconnecting with the world</h2>
            <p>In 2005, the U.S. Agency for International Development (USAID), through a grant administered by the Feed the Future Innovation Lab for Integrated Pest Management at Virginia Tech, sent a team of researchers from Michigan State University (MSU) and the University of California-Davis to assess the state of agriculture in Central Asia and identify ways they could help. </p>
            <p>As the only USAID Feed the Future focus country in the region, Tajikistan ranked near the top of the priority list, alongside neighbors Kyrgyzstan and Uzbekistan. Karim Maredia, MSU AgBioResearch scientist and director of the MSU World Technology Access Program, would oversee much of the work done in all three countries and was one of the first to arrive there.</p>
            <p>“We found that these former USSR countries had to be reconnected with the world and modern science after their long isolation under Soviet control,” said Maredia, a professor in the MSU Department of Entomology. “There had been a number of new approaches and innovations in agriculture, and in integrated pest management specifically, that had developed in the past decades that could add to what the Central Asian researchers were doing.”</p>
            <p>With limited government funding for research and no effective outreach to farmers, the agricultural community in Tajikistan lacked the resources to improve the situation. Before the arrival of the MSU team, a series of non-governmental aid organizations had tried to help the region, but the scope and duration of their projects had never been sufficient to make lasting improvements.</p>
            <blockquote>
                <p>Of critical importance to USAID was helping improve Tajikistan’s wheat production.</p>
            </blockquote>
            <p>“Wheat is the staple food security crop in Central Asia,” Maredia said. “If you go to Indonesia, rice is life, but in Tajikistan, wheat is the first bread&mdash;the most important food source they have. On top of that, because of their mountainous terrain, only 8 percent of their land is arable. They have to make the absolute most of what they have.”</p>
            <p>Bringing Tajikistan up to speed with current science-based agricultural practices would take more than just a few meetings with farmers&mdash;it would take collaboration with institutions and scientists intimately familiar with the country and its circumstances. The MSU team met with and hired three local researchers, one from each country, to coordinate the team’s outreach efforts. Saidov was among them, seeing in this an opportunity to make a difference in his home country. His expertise in entomology and organizational skills immediately impressed MSU AgBioResearch entomologist Doug Landis, who was the lead project scientist in Tajikistan. And they would prove invaluable for the long-term success of the project.</p>
            <p>“He was well-versed in the biology and ecology of the country, but more than that, he was a great organizer and liaison,” said Landis, a professor in the MSU Department of Entomology. “He reached out to all sorts of local resources that we didn’t even know existed, as well as scientists and students at the local university. He facilitated all of our activities in country.”</p>
            <h2>Fighting insects with more insects</h2>
            <p>One of the key areas that the team identified for Tajikistan was updating its knowledge of integrated pest management (IPM), a broad-based approach to pest control that incorporates multiple tactics from chemical sprays to the introduction and maintenance of beneficial insect populations. Of particular interest to the team was the potential to adapt research on beneficial insects conducted by Landis’s lab in Michigan to Tajikistan.</p>
            <p>Since coming to MSU in 1988, Landis has spent most of his career studying how well landscapes support natural predator insects and the impact of that on agriculture.</p>
            <p>“One of the ways we can control pests on farms is by providing habitat that attracts other insects that prey upon those pests,” Landis explained. “Research we conducted in Michigan showed that we can not only attract them, but we can improve the lifespan and egg-laying capacity of predatory wasp species by providing them with flowering plants alongside crop fields.”</p>
            <p>In Tajikistan, two pests present a major threat to wheat crops: sunn pest and cereal leaf beetle.  Both pests serve as prey for a variety of parasitoid wasps. By utilizing these natural predators, Landis and his team saw an opportunity to reduce Tajik farmers’ reliance on expensive and toxic chemical sprays.</p>
            <p>Though the same scientific principles apply in Michigan and Tajikistan, the types of flora are different. Before the team could develop companion plantings, they first had to identify which native species of plants would make suitable habitat for Tajik wasps. This led Saidov and a group of local botanists to pursue a series of expeditions into the mountains of Tajikistan to find the right plants for the job.</p>
            <p>Saidov and his team gathered 50 candidate plant species, which they pared down to five major species with overlapping life cycles capable of providing insect nourishment throughout the year. By planting them in strips alongside wheat fields, the scientists found that they were an effective means of attracting and sustaining healthy wasp populations. In trials that compared wheat plots using companion plantings with those that did not, the plots with them invariably yielded 30 percent more than those without. In some cases, that number rose to as high as 60 percent.</p>
            <p>“One of the coolest things about research projects like this one is how the knowledge you bring transfers to the people,” Landis said. “It’s not always clear how it’s going to find its way through the population, what route it’s going to take, and sometimes it takes surprising turns that even we don’t expect.”</p>
            <h2>Putting knowledge in the right hands</h2>
            <p>Adapting modern IPM practices to Tajikistan’s environment was not enough, however. Leaving behind a population of farmers trained in the practices and capable of developing and passing on that knowledge to the next generation was the only way to ensure that MSU would leave an impact that lasted beyond the project’s 10-year lifespan.</p>
            <p>Saidov led efforts to coordinate a series of farmer field schools through which the research team would visit agricultural communities around the country to demonstrate the new IPM techniques and teach farmers about implementation.</p>
            <p>“The farmer field school was the main approach we used to get these tools into the hands of farmers,” Saidov said. “We brought our findings to them, presented them in their own language, so they could continue to use and understand them for years to come.”</p>
            <p>More than 1,500 farmers and agricultural students were trained directly through the farmer field school programs, with another 15 students receiving more intensive training through collaboration with Tajik Agrarian University. In addition, the team produced over 20 publications detailing their findings and how to implement them. They were produced in multiple languages and disseminated in the local communities.</p>
            <p>“I’m very proud of the way we left them with tools and training they did not have before,” Maredia said. “They have new ideas, new ways of thinking about these problems and a new vision for agriculture.”</p>
            <p>Today, Tajikistan’s agricultural production has climbed back to nearly the same level it was during the Soviet era. After the success of the initial project,  Saidov has moved on to a new program&mdash;still funded by USAID&mdash;focused on bringing improved vegetable production technologies.</p>
            <p>“The importance of food crops such as wheat and vegetables in the region is growing,” Saidov said. “We’re enhancing our food and nutritional security and shifting our food policy and strategies toward that goal. The training and opportunities we received from the MSU-led team has helped us reach where we are now.”</p>
            {{> ../partial/article-share-footer}}

        </article>
        <section class="container gutter">
            <h2 class="heading-secondary">Related Stories</h2>
            <div class="tile-grid">
                {{> ../partial/stories/story-quad-1}}
            
            </div>
        </section>
        
        {{> ../partial/contact-form}}

    </main>
    {{> ../partial/footer}}

</body>
</html>