<!doctype html>
<html class="no-js" lang="">
<head>
    {{> ../partial/head-meta}}
    <title>{{ fest.title }} {{ shared_meta_title }}</title>
    {{> ../partial/head-styles}}
</head>
<body>
    {{> ../partial/header}}
    <main role="main" class="bg-gradient-gray">
        <article class="container gutter">
            <header>
                <h1>{{ fest.title }}; Keynote Speakers: Experience Gastropod Live!</h1>
                <p class="article_meta">{{ fest.month }} {{ fest.day }}, 2017 PM at Kellogg Center Auditorium. First come, first serve free seating.</p>
                {{> ../partial/article-share-header}}

            </header>
            <img src="images/article-msu-science-festival.jpg" alt="">
            <p>This year’s big event at the MSU Science Festival features award-winning podcast hosts, Cynthia Graber and Nicola Twilley from Gastropod. Experience a live podcast of the popular show at the Kellogg Center Auditorium, April 8 at 7 p.m. The show highlights the science and history behind our favorite foods, culinary customs, and farming methods - attempting to shine new light on the food we eat. Discover the fascinating, and sometimes scandalous, secrets behind the food in your kitchen. </p>
            {{> ../partial/article-share-footer}}

        </article>
        <section class="container gutter">
            <h2 class="heading-secondary">Related Stories</h2>
            <div class="tile-grid">
                {{> ../partial/stories/story-quad-3}}
            
            </div>
        </section>
        
        {{> ../partial/contact-form}}

    </main>
    {{> ../partial/footer}}

</body>
</html>