<!doctype html>
<html class="no-js" lang="">
<head>
    {{> ../partial/head-meta}}
    <title>{{ ag_inno.title }} {{ shared_meta_title }}</title>
    {{> ../partial/head-styles}}
</head>
<body>
    {{> ../partial/header}}
    <main role="main" class="bg-gradient-gray">
        <article class="container gutter">
            <header>
                <h1>{{ ag_inno.title }}</h1>
                <p class="article_meta">{{ ag_inno.month }} {{ ag_inno.day }}, 2017 at Lake City Research Center</p>
                {{> ../partial/article-share-header}}

            </header>
            <img src="images/article-ag-innovation.jpg" alt="">
            <p class="article_photo-cred">Photo by Matt Christine</p>
            <p>The annual MSU Agriculture Innovation Day is an opportunity for agriscience experts to inform Michigan farmers about the latest technologies and practices in sustainable agriculture. The event teaches producers how to boost profitability in a particular area, while taking environmental safety measures. This year’s event, which focuses on the future of forages, is held August 24 at the Lake City Research Center in Lake City, MI. To learn more, contact Ron Bates, director of agriculture and agribusiness for MSU Extension at <a href="mailto:batesr@msu.edu?Subject={{ ag_inno.title }}">batesr@msu.edu</a>.</p>
            {{> ../partial/article-share-footer}}

        </article>
        <section class="container gutter">
            <h2 class="heading-secondary">Related Stories</h2>
            <div class="tile-grid">
                {{> ../partial/stories/story-quad-1}}
            
            </div>
        </section>
        
        {{> ../partial/contact-form}}

    </main>
    {{> ../partial/footer}}

</body>
</html>