<!doctype html>
<html class="no-js" lang="">
    <head>
        {{> ../partial/head-meta}}
        <title>{{ raspberries.title }} {{ shared_meta_title }}</title>
        {{> ../partial/head-styles}}
    </head>
    <body>
        {{> ../partial/header}}
        <main role="main" class="bg-gradient-gray">
        <article class="container gutter">
            <header>
                <h1>{{ raspberries.title }}</h1>
                <p class="article_meta">Article by {{ raspberries.author }}</p>
                {{> ../partial/article-share-header}}

            </header>
            <img src="images/article-hoophouses.jpg" alt="">
            <p>Though Michigan is a national leader in fruit production, some crops, such as raspberries, account for a relatively small percentage of the larger industry. The National Agricultural Statistics Service estimates that approximately 590 acres of raspberries are grown annually in Michigan. Because of this, the vast majority of berries sold in Michigan, as well as in other regions of the northeastern United States, are trucked in from places such as Mexico and California. Michigan State University (MSU) AgBioResearch scientists are working to develop tools and practices to help Michigan growers take better advantage of that home market.</p>
            <p>Michigan’s climate is one of the most significant limiting factors to raspberry production. Severe winters and wet, humid summers combine to greatly restrict the crop’s growing season, which, in turn, limits fresh product availability to just a few months each year. Eric Hanson, professor in the MSU Department of Horticulture, said he views high-tunnel agriculture as the answer that growers have been looking for.</p>
            <p>High tunnels, or hoophouses, consist of specialized plastic stretched over a series of skeletal metal hoops to provide a protective environment for the crops grown inside. These have become a means for farmers to extend the growing season beyond what the climate would ordinarily allow. High tunnels also reduce the threat of rot, a significant challenge for raspberries in the field where they are exposed to rain and dew.</p>
            <p>“High tunnels are a way of modifying the environment around a crop,” Hanson explained. “They allow us to mitigate a lot of the climate problems we see here in Michigan by allowing us to start growing raspberries earlier in the year and continue harvesting them later. They also protect the plants from excess rain, which means you can almost eliminate problems like berry rot and some other fungal diseases.”</p>
            <p>Hanson and his team have just completed the second year of a five-year project probing the extent of the benefits that high tunnels can bring to Michigan raspberry production. The project includes determining which raspberry varieties perform best under high tunnels, as well as experimenting with new growing practices, such as double-cropping. In this system, farmers continue to grow the raspberry canes over the winter, allowing for not only a fall crop but a summer one as well.</p>
            <p>Rufus Isaacs, MSU AgBioResearch entomologist and professor in the Department of Entomology, is contributing to the project by studying integrated pest management practices within the high tunnels. One of the most significant threats to fruit in Michigan comes from spotted wing drosophila (SWD), an invasive insect pest capable of reproducing rapidly and causing major fruit crop damage.</p>
            <p>To develop strategies to defend raspberries from SWD, Isaacs and his graduate student Heather Leach are experimenting with the use of netting on the structural hoops of the high tunnel. Their work so far has shown that, though exclusion netting cannot by itself completely halt SWD, it can significantly delay insect infestation.</p>
            <p>Isaacs is also working with MSU AgBioResearch plant pathologist Annemiek Schilder, associate professor in the Department of Plant, Soil and Microbial Sciences, to study the impact of using various types of plastic coverings on the high tunnels. Various plastics allow growers to control prevent certain wavelengths of light from reaching the plants inside. Specifically, the team is looking at ways to control the type of ultraviolet light that passes through the plastic coverings.</p>
            <p>Ultraviolet light comes in three distinct wavelength ranges – UV-A, UV-B and UV-C. The shortest wavelength, UV-C, is almost entirely absorbed by the ozone layer and the atmosphere, but UV-A and UV-B both reach the earth’s surface and play significant roles in natural systems. Some fungi require ultraviolet light to form spores and spread to other areas or plants, and some insect pests use it to navigate toward food sources. In addition, ultraviolet light breaks down many types of pesticides, reducing their efficacy and requiring growers to spray with greater frequency.</p>
            <p>Working with a company based in the United Kingdom, the research team has access to plastic sheets capable of blocking different types of ultraviolet radiation. As they move into the third year of the project, the team means to continue testing the impact of these materials on crops.</p>
            <p>By exploring the benefits of high tunnels for raspberries, Hanson said he hopes to help Michigan growers find new opportunities in raspberries.</p>
            <p>“What we’ve found is that we can greatly increase raspberry yields and extend the marketing season into the fall,” Hanson said. “We can produce a higher quality raspberry with very little rot and protect it from environmental challenges.”</p>
            {{> ../partial/article-share-footer}}

        </article>
        <section class="container gutter">
            <h2 class="heading-secondary">Related Stories</h2>
            <div class="tile-grid">
                {{> ../partial/stories/story-quad-1}}
            
            </div>
        </section>

        {{> ../partial/contact-form}}

        </main>
        {{> ../partial/footer}}
        
    </body>
</html>