/* ==========================================================================
   Base
   ========================================================================== */

*, *:after, *:before {
    box-sizing: inherit;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-size: 62.5%;
    box-sizing: border-box;
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
    line-height: $line-height;
    @include font-size(16);
    @include font-smoothing;
    font-family: $font-primary;
}

html, body {
    &.open {
        @include breakpoint($br-menu-break, max-width) {
            overflow: hidden;
        }
    }
}