input[type="search"] {
  box-sizing: border-box;
}
input[type="radio"], input[type="checkbox"] {
  margin-right: 5px;
  & + label {
    display: inline-block;
  }
}

fieldset, .fieldset {
  padding: $margin-half;
  border: 1px solid #eee;
  margin: $margin-half 0;
}
legend {
  color: $red;
  font-weight: 700;
  // font-size: $ts-h4;
}

.field-entry {
  display: block;
  margin-bottom: 20px;
}


.field-label {
  font-weight: 700;
  display: block;
}
.field-input, %field-input {
  padding: 6px;
  border: 1px solid #ccc;
  width: 100%;
  min-height: 40px;
  @include font-size(14);
}
span.field-input {
  display: block;
  border: none;
  border-bottom: 1px solid #eee;
}
.field-option {
  margin-right: 5px;
}
.field-color {
  @extend %field-input;
  background: #fff;
  height: 35px;
}
.field-note {
  font-size: 1.3rem;
  color: $textgray;
  padding: 10px;
  border-left: 3px solid $orange;
}
select {
  &:focus {
    box-shadow: 0 1px 5px $tan;
  }
}

.field--small {
  max-width: 64px;
}
.field--medium {
  max-width: 144px;
}

.field-pre {
  display: inline-block;
  padding-right: 5px;
  line-height: 31px;
}

.field-inline {
  display: flex;
  align-items: center; // bad idea?
  .field-entry {
    padding-right: $margin-half;
    &:last-child {
      padding-right: 0;
    }
  }
  &.field-inline--full {
    .field-entry {
      flex: auto 1 1;
    }
  }
}

.field-inline--collapse {
  flex-direction: column;
  @include breakpoint($br-sm-2) {
    flex-direction: row;
  }
}

.field-inline__expand {
  width: 100%;
  flex: 0 1 auto;
}

.no-flexbox {
  .field-inline {
    display: table;
    width: 100%;
    table-layout: fixed;
    .field-entry {
      display: table-cell;
      vertical-align: top;
      &.field-inline__expand {
        width: 100%;
      }
    }
  }
}