// flex containers
%container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include float-clear;

}
.container {
  @extend %container;
  max-width: $max-width;
}
.container-narrow {
  @extend %container;
  max-width: 800px;
}

// flex rows
.flex-row {
  @include flex-row;
  margin-left: -$margin-half;
  margin-right: -$margin-half;
}
.flex-row--center {
  justify-content: center;
  -ms-flex-pack: center;
}


// flex items
%flex-item {
  @include flex-item;
  padding-left: $margin-half;
  padding-right: $margin-half;
  // margin-bottom: 20px; // useful?
}
.flex-half {
  @extend %flex-item;
  @include breakpoint($br-xl) {
    width: 50%;
    max-width: 50%;
  }
}
.flex-third {
  @extend %flex-item;
  @include breakpoint($br-xl) {
    width:(100%/3);
    max-width:(100%/3);
  }
}
.flex-two-third {
  @extend %flex-item;
  @include breakpoint($br-xl) {
    width:(200%/3);
    max-width:(200%/3);
  }
}
.flex-quarter {
  @extend %flex-item;
  @include breakpoint($br-xl) {
    width: 25%;
    max-width: 25%;
  }
}
.flex-item--full-height {
    display: flex;
    align-self: stretch;
}

.flex--justify {
    justify-content: center;
}

// fallbacks – ¡¡¡needs modernizr!!!
.no-flexbox:not(.flexboxtweener) {
  .flex-row {
    @include float-clear;
  }

  .flex-half,
  .flex-third,
  .flex-two-third,
  .flex-quarter {
    float: left;
  }

  @include breakpoint($br-xl) {
    .flex-half {
      &:nth-child(2n+3){
        clear: both;
      }
    }
    .flex-third {
      &:nth-child(3n+4){
        clear: both;
      }
    }
    .flex-quarter {
      &:nth-child(4n+5){
        clear: both;
      }
    }
  }
}