/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
  color: $red;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

.inline-block-link {
	display: inline-block;
	margin-right: 10px;
}

.link-hover, .link-focus {
  color: darken($red, 10);
  text-decoration: none;
}
.link-focus {
  outline: $orange auto 3px;
}

.social-link {
	span {
		transition: transform 0.3s ease-in-out;
	}
	@include link-states {
		span {
			transform: scale(0.9);
			transition: transform 0.3s ease-in-out;
		}
	}
	& + .social-link {
		margin-left: 10px;
	}
}
