/*
* List Styles
*/

.plain-list, %plain-list {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

.link-block, %link-block {
	@extend %float-clear;
	@extend %plain-list;
	a {
		display: block;
		text-decoration: none;
	}
}

.double-list {
	@extend %float-clear;
	li {
		margin-bottom: 10px;
	}
	@include breakpoint($br-sm-2) {
		li {
			width: 50%;
			float: left;
			padding-right: 10px;
			&:nth-child(2n+3) {
				clear: both;
			}
		}
	}
}

.arrow-list {
	@extend %plain-list;
	li {
		position: relative;
		padding-left: 16px;
		a {
			text-decoration: none;
		}
		&:before {
			position: absolute;
			content: '';
			display: inline-block;
			top: 7px;
			left: 0;
			width: 0;
			height: 0;
			border-width: 6px;
			border-style: solid;
			border-color: transparent;
			border-left-color: $red;
		}
	}
}

.alternate {
	padding: 5px;
	background: #fff;
	&:nth-of-type(2n) {
		background: $lightgray;
	}
}

.separated {
	margin-bottom: $margin-half;
	padding-bottom: $margin-half;
	border-bottom: 1px solid $lightgray;
}