.icon-left {
	margin: 0 5px 0 0;
}

%svg-common {
	background: url('images/sprites.svg') no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.icon-calendar,%icon-calendar {
	@extend %svg-common;
	background-position: 67.25888324873097% 79.28388746803068%;
	width: 28px;
	height: 31px;
}

.icon-camera,%icon-camera {
	@extend %svg-common;
	background-position: 88.17480719794345% 68.42105263157895%;
	width: 33px;
	height: 23px;
}

.icon-careers,%icon-careers {
	@extend %svg-common;
	background-position: 100% 0;
	width: 112px;
	height: 112px;
}

.icon-design-build,%icon-design-build {
	@extend %svg-common;
	background-position: 0 0;
	width: 155px;
	height: 155px;
}

.icon-fabrication,%icon-fabrication {
	@extend %svg-common;
	background-position: 58.052434456928836% 0;
	width: 155px;
	height: 155px;
}

.icon-facebook,%icon-facebook {
	@extend %svg-common;
	background-position: 49.32975871313673% 83.10991957104558%;
	width: 49px;
	height: 49px;
}

.icon-gear,%icon-gear {
	@extend %svg-common;
	background-position: 59.743589743589745% 79.69151670951157%;
	width: 32px;
	height: 33px;
}

.icon-history,%icon-history {
	@extend %svg-common;
	background-position: 100% 36.12903225806452%;
	width: 112px;
	height: 112px;
}

.icon-linkedin,%icon-linkedin {
	@extend %svg-common;
	background-position: 83.10991957104558% 60.05361930294906%;
	width: 49px;
	height: 49px;
}

.icon-mechanical,%icon-mechanical {
	@extend %svg-common;
	background-position: 0 58.052434456928836%;
	width: 155px;
	height: 155px;
}

.icon-megaphone,%icon-megaphone {
	@extend %svg-common;
	background-position: 74.36548223350253% 78.08564231738035%;
	width: 28px;
	height: 25px;
}

.icon-phone,%icon-phone {
	@extend %svg-common;
	background-position: 79.69151670951157% 69.46564885496183%;
	width: 33px;
	height: 29px;
}

.icon-safety,%icon-safety {
	@extend %svg-common;
	background-position: 0 100%;
	width: 112px;
	height: 112px;
}

.icon-service,%icon-service {
	@extend %svg-common;
	background-position: 58.052434456928836% 58.052434456928836%;
	width: 155px;
	height: 155px;
}

.icon-thin-arrow,%icon-thin-arrow {
	@extend %svg-common;
	background-position: 28.14070351758794% 96.875%;
	width: 24px;
	height: 102px;
}

.icon-twitter,%icon-twitter {
	@extend %svg-common;
	background-position: 96.24664879356568% 60.05361930294906%;
	width: 49px;
	height: 49px;
}

.icon-youtube,%icon-youtube {
	@extend %svg-common;
	background-position: 36.36363636363637% 83.10991957104558%;
	width: 48px;
	height: 49px;
}

