table {
  width: 100%;
  margin: $margin-half 0;
}
tr {
  border-bottom: 1px solid $darkgray;
}
th {
  text-align: left;
}
td, th {
  padding: 5px;
}
tbody {
  border-top: 1px solid $darkgray;
  border-bottom: 1px solid $darkgray;
}

.table--striped {
  tbody {
    tr:nth-child(2n) {
      td {
        background: $lightgray;
      }
    }
  }
}

.project-table {
  table-layout: fixed;
}
.project-table__admin {
  width: 200px;
  text-align: right;
}