/* 
* Utility
* Very Generic classes that are meant to be extended by your own objects. 
*/


.float-right    { float: right; }
.float-left     { float: left; }
img.float-right { margin: 0 0 $margin $margin; }
img.float-left  { margin: 0 $margin $margin 0; }
.align-right    { text-align: right; }
.align-left     { text-align: left; }
.align-center   { text-align: center; }
img.max-width   { width: 100%; height: auto; }
.no-margin        { margin: 0 !important; }
.no-margin-top    { margin-top: 0; }
.no-margin-bottom { margin-bottom: 0; }
.box-margin-sm    { margin-top: $margin-half; margin-bottom: $margin-half; }
.no-padding	{ padding: 0 !important; }
.text-uppercase { text-transform: uppercase; }

.no-padding-top { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }

.visually-hidden, %visually-hidden {
	@include visually-hidden;
}
.float-clear, %float-clear {
	@include float-clear;
}
.image-replace, %image-replace {
	@include image-replace;
}
.box-sizing, %box-sizing {
	box-sizing: border-box;
}
.single-line, %single-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.break-all, %break-all {
	word-break: break-all;
}
%pseudo-absolute {
	position: absolute;
	content: '';
	display: inline-block;
}

img {
	max-width: 100%;
	height: auto;
}

.u-block {
	display: block;
}

.hide {
	display: none !important;
}

.margin-top-only {
	margin-top: $margin-half;
}
.margin-bottom-only {
	margin-bottom: $margin-half;
}