<svg width="257px" height="141px" viewBox="62 16 257 141" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Andy J. Egan Co., Inc.</title>
    <defs>
        <polygon id="path-1" points="0.0664655172 109.735556 0.0664655172 0.953333333 75.6471746 0.953333333 151.227884 0.953333333 151.227884 109.735556 0.0664655172 109.735556"></polygon>
        <polygon id="path-3" points="0.0193716711 22.1555556 25.9196422 22.1555556 25.9196422 0.635555556 0.0193716711 0.635555556 0.0193716711 22.1555556"></polygon>
        <polygon id="path-5" points="26.4643534 22.1555556 0.363344828 22.1555556 0.363344828 0.635555556 26.4643534 0.635555556 26.4643534 22.1555556"></polygon>
    </defs>
    <g id="egan" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(62.000000, 16.000000)">
        <polyline id="Fill-1" fill="#1A1918" points="95.1420647 0.953333333 147.731797 0.953333333 179.569888 32.8966667 113.997224 32.8966667 95.1420647 0.953333333"></polyline>
        <polyline id="Fill-3" fill="#1A1918" points="117.820099 39.4388889 186.228625 39.4388889 217.837409 71.2111111 136.506879 71.2111111 117.820099 39.4388889"></polyline>
        <polyline id="Fill-4" fill="#1A1918" points="140.423914 77.5433333 224.226961 77.5433333 256.333129 109.735556 159.377664 109.735556 140.423914 77.5433333"></polyline>
        <g id="Group-8">
            <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <g id="Clip-6"></g>
            <polyline id="Fill-5" fill="#1A1918" mask="url(#mask-2)" points="112.179392 109.735556 151.227884 109.735556 87.2659009 1.12444444 68.5337026 34.8466667 112.179392 109.735556"></polyline>
            <path d="M78.866875,0.953333333 L41.4545431,0.953333333 L3.41078879,70.6377778 C3.41078879,70.6377778 -3.23465517,83.3577778 2.02609052,94.18 C7.74544828,105.944444 18.6502241,109.735556 24.8736121,109.735556 L104.91028,109.735556 L85.8147371,77.5133333 L40.9505129,77.5133333 C40.9505129,77.5133333 39.2755819,77.7155556 38.5378147,76.1755556 C37.8642974,74.7666667 39.0296595,73.1088889 39.0296595,73.1088889 L78.866875,0.953333333" id="Fill-7" fill="#1A1918" mask="url(#mask-2)"></path>
        </g>
        <polyline id="Fill-9" fill="#D91F41" points="145.114164 80.1988889 223.116987 80.1988889 249.898159 107.08 160.865384 107.08 145.114164 80.1988889"></polyline>
        <polyline id="Fill-10" fill="#D91F41" points="122.512565 42.0833333 185.116435 42.0833333 211.447858 68.5877778 138.021185 68.5877778 122.512565 42.0833333"></polyline>
        <polyline id="Fill-11" fill="#D91F41" points="99.8201293 3.60555556 146.570866 3.60555556 173.036328 30.1944444 115.519284 30.1944444 99.8201293 3.60555556"></polyline>
        <g id="Group-15" transform="translate(2.215517, 3.333333)" fill="#D91F41">
            <polyline id="Fill-12" points="111.36519 103.746667 144.078409 103.746667 85.0559224 3.31222222 69.3744914 31.5055556 111.36519 103.746667"></polyline>
            <path d="M72.0918233,0.187777778 L41.023625,0.187777778 L3.82619828,68.2533333 C3.82619828,68.2533333 -2.60434052,80.7911111 2.63978879,90.2711111 C7.80526724,99.6088889 17.3220216,103.761111 22.7046207,103.761111 L97.6788319,103.761111 L81.7348621,76.8566667 L38.8945129,76.8411111 C38.8945129,76.8411111 35.3552241,77.2833333 33.8165474,74.0844444 C32.7331595,71.8322222 34.4756638,68.6811111 34.4756638,68.6811111 L72.0918233,0.187777778" id="Fill-14"></path>
        </g>
        <path d="M16.934306,128.842222 L21.2556724,128.842222 L19.013569,122.398889 L16.934306,128.842222 Z M26.7800647,135.013333 L23.2440991,135.013333 L22.0875991,131.688889 L15.8475948,131.688889 L14.6689397,135.013333 L11.1318664,135.013333 L17.0029871,118.413333 L21.0019957,118.413333 L26.7800647,135.013333 L26.7800647,135.013333 Z" id="Fill-16" fill="#1A1918"></path>
        <path d="M28.7031336,122.672222 L31.9388966,122.672222 L31.9388966,124.538889 L31.9854224,124.538889 C32.6090905,123.241111 33.8110086,122.467778 35.0594526,122.467778 C37.9252241,122.467778 39.867125,123.651111 39.867125,126.746667 L39.867125,135.013333 L36.6313621,135.013333 L36.6313621,127.681111 C36.6313621,126.588889 36.4928922,125.29 34.2962069,125.29 C32.3321509,125.29 31.9388966,126.361111 31.9388966,127.362222 L31.9388966,135.013333 L28.7031336,135.013333 L28.7031336,122.672222" id="Fill-17" fill="#1A1918"></path>
        <g id="Group-21" transform="translate(41.987069, 117.777778)">
            <mask id="mask-4" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
            <g id="Clip-19"></g>
            <path d="M3.84533621,8.83333333 C3.61381466,9.31222222 3.29034914,10.2222222 3.29034914,11.2466667 C3.29034914,12.2711111 3.61381466,13.1822222 3.84533621,13.66 C4.39921552,14.6855556 5.25440517,15.0488889 6.01765086,15.0488889 C6.75652586,15.0488889 7.61171552,14.6855556 8.16670259,13.66 C8.39711638,13.1822222 8.72168966,12.2711111 8.72168966,11.2466667 C8.72168966,10.2222222 8.39711638,9.31222222 8.16670259,8.83333333 C7.61171552,7.80777778 6.75652586,7.44444444 6.01765086,7.44444444 C5.25440517,7.44444444 4.39921552,7.80777778 3.84533621,8.83333333 Z M11.9574526,17.3033333 L8.72168966,17.3033333 L8.72168966,16.0055556 L8.67516379,16.0055556 C7.79671121,17.2811111 6.52611207,17.7133333 5.5080819,17.7588889 C3.24382328,17.85 1.94885345,16.9622222 0.978456897,14.9133333 C0.46999569,13.7977778 0.10000431,12.6811111 0.0313232759,11.4744444 C-0.0384655172,10.2677778 0.193056034,8.96888889 0.839987069,7.48888889 C1.90343534,5.09888889 3.9605431,4.75666667 5.13919828,4.69 C7.24172414,4.59888889 8.21322845,5.53222222 8.67516379,6.58 L8.72168966,6.58 L8.72168966,0.635555556 L11.9574526,0.635555556 L11.9574526,17.3033333 L11.9574526,17.3033333 Z" id="Fill-18" fill="#1A1918" mask="url(#mask-4)"></path>
            <path d="M17.2758017,4.89444444 L19.9798405,13.8666667 L22.5908276,4.89444444 L25.9196422,4.89444444 L20.6035086,19.7855556 C20.5115647,20.15 20.1869914,20.8555556 19.6552672,21.3566667 C18.9396552,22.1088889 16.4427672,22.2222222 15.4269526,22.2222222 L15.4269526,19.6266667 C16.2123534,19.6955556 16.9290733,19.6266667 17.4375345,19.3066667 C18.0612026,18.92 18.407931,18.1455556 18.0833578,17.2355556 L13.6922026,4.89444444 L17.2758017,4.89444444" id="Fill-20" fill="#1A1918" mask="url(#mask-4)"></path>
        </g>
        <path d="M85.9831164,118.413333 L85.9831164,131.051111 C85.9598534,132.053333 85.6363879,133.055556 84.8033534,133.964444 C83.8562198,135.013333 82.4238879,135.468889 81.0591293,135.536667 C79.6722155,135.627778 78.3550905,135.354444 77.5918448,134.944444 C75.9279914,134.056667 75.3730043,132.281111 75.3043233,130.777778 L75.3043233,128.887778 L78.7705,128.887778 L78.7705,130.573333 C78.7705,131.186667 78.701819,132.804444 80.7124009,132.667778 C82.1225776,132.553333 82.5158319,131.598889 82.5158319,130.801111 L82.5158319,118.413333 L85.9831164,118.413333" id="Fill-22" fill="#1A1918"></path>
        <polygon id="Fill-23" fill="#1A1918" points="89.082625 135.013333 92.5499095 135.013333 92.5499095 131.688889 89.082625 131.688889"></polygon>
        <g id="Group-27" transform="translate(101.913793, 117.777778)">
            <mask id="mask-6" fill="white">
                <use xlink:href="#path-5"></use>
            </mask>
            <g id="Clip-25"></g>
            <polyline id="Fill-24" fill="#1A1918" mask="url(#mask-6)" points="12.5675216 0.635555556 12.5675216 3.48333333 3.83062931 3.48333333 3.83062931 7.26222222 11.8973276 7.26222222 11.8973276 10.1088889 3.83062931 10.1088889 3.83062931 14.3888889 12.9607759 14.3888889 12.9607759 17.2355556 0.363344828 17.2355556 0.363344828 0.635555556 12.5675216 0.635555556"></polyline>
            <path d="M18.2580776,8.96888889 C18.0044009,9.44888889 17.6576724,10.3588889 17.6576724,11.3833333 C17.6576724,12.4088889 18.0044009,13.3188889 18.2580776,13.7977778 C18.8595905,14.8211111 19.761306,15.1866667 20.5699698,15.1866667 C21.3786336,15.1866667 22.2803491,14.8211111 22.8818621,13.7977778 C23.1355388,13.3188889 23.4822672,12.4088889 23.4822672,11.3833333 C23.4822672,10.3588889 23.1355388,9.44888889 22.8818621,8.96888889 C22.2803491,7.94555556 21.3786336,7.58 20.5699698,7.58 C19.761306,7.58 18.8595905,7.94555556 18.2580776,8.96888889 Z M26.4643534,4.89444444 L26.4643534,17.5544444 C26.4643534,19.08 25.6778448,20.5144444 24.5002974,21.2655556 C23.6672629,21.7888889 22.5583966,22.2222222 20.2010862,22.2222222 C16.7792198,22.2222222 14.9536336,20.65 14.9536336,18.67 L18.3511293,18.67 C18.3511293,19.3766667 19.1365302,20.0588889 20.6164957,20.0588889 C22.0499353,20.0588889 23.4590043,19.0566667 23.4368491,17.6911111 L23.4368491,15.96 C22.4653448,17.0077778 21.7718879,17.7588889 20.0615086,17.7588889 C18.3046034,17.7588889 17.4726767,17.4177778 16.4557543,16.3933333 C14.0519181,13.9788889 14.2601767,8.56 16.5942241,6.16888889 C17.219,5.55444444 18.3743922,4.57555556 20.1080345,4.69 C22.0953534,4.80222222 22.5351336,5.71444444 23.4368491,6.76111111 L23.4368491,4.89444444 L26.4643534,4.89444444 L26.4643534,4.89444444 Z" id="Fill-26" fill="#1A1918" mask="url(#mask-6)"></path>
        </g>
        <path d="M138.318065,129.206667 C137.394194,129.752222 136.144642,129.707778 135.313823,129.867778 C134.320164,130.048889 133.626707,130.868889 133.903647,131.871111 C134.087534,132.598889 134.665784,133.123333 136.052698,132.895556 C137.972444,132.598889 138.318065,131.278889 138.318065,129.913333 L138.318065,129.206667 Z M138.686948,135.013333 C138.457642,134.716667 138.318065,134.215556 138.341328,133.783333 C137.209198,134.831111 136.215539,135.536667 134.320164,135.536667 C131.77675,135.536667 130.529414,134.125556 130.621358,131.734444 C130.691147,130.004444 131.384603,128.318889 134.250375,127.841111 C135.451185,127.795556 136.746155,127.522222 137.509401,127.271111 C138.087651,127.065556 138.363483,126.474444 138.318065,125.882222 C138.318065,125.108889 137.671134,124.766667 136.191168,124.766667 C134.343427,124.766667 134.110797,125.882222 134.064272,126.77 L131.014612,126.77 C131.06003,122.831111 134.480789,122.467778 136.191168,122.467778 C137.44072,122.467778 138.527431,122.672222 139.149991,122.923333 C140.398435,123.423333 141.393203,124.425556 141.393203,126.383333 L141.393203,133.123333 C141.36994,133.67 141.692297,134.215556 142.108815,134.58 L142.108815,135.013333 L138.686948,135.013333 L138.686948,135.013333 Z" id="Fill-28" fill="#1A1918"></path>
        <path d="M144.330978,122.672222 L147.566741,122.672222 L147.566741,124.538889 L147.613267,124.538889 C148.236935,123.241111 149.438853,122.467778 150.68619,122.467778 C153.553069,122.467778 155.493862,123.651111 155.493862,126.746667 L155.493862,135.013333 L152.259207,135.013333 L152.259207,127.681111 C152.259207,126.588889 152.119629,125.29 149.924052,125.29 C147.959996,125.29 147.566741,126.361111 147.566741,127.362222 L147.566741,135.013333 L144.330978,135.013333 L144.330978,122.672222" id="Fill-29" fill="#1A1918"></path>
        <path d="M179.232022,129.343333 C179.208759,131.028889 178.238362,132.942222 176.967763,133.92 C175.972996,134.694444 174.078728,135.468889 171.998358,135.536667 C168.254134,135.65 165.640931,133.282222 164.740323,129.775556 C164.555328,129.002222 164.416858,127.954444 164.416858,126.862222 C164.416858,125.746667 164.530957,124.607778 164.809004,123.674444 C165.758353,120.577778 167.767828,118.14 172.136828,118.14 C173.338746,118.14 175.025862,118.277778 176.666453,119.437778 C179.094659,121.055556 179.208759,123.195556 179.232022,124.038889 L175.92647,124.038889 C175.833418,123.104444 175.049125,120.76 171.674892,121.01 C170.101875,121.123333 168.877802,122.24 168.322815,123.651111 C168.091293,124.242222 167.859772,125.335556 167.791091,126.52 C167.744565,127.704444 167.859772,128.978889 168.322815,130.004444 C168.877802,131.21 169.641047,131.938889 170.495129,132.326667 C170.934909,132.507778 171.373582,132.598889 171.85878,132.598889 C172.321823,132.621111 172.830284,132.553333 173.314375,132.417778 C175.719319,131.756667 175.788,130.072222 175.92647,129.343333 L179.232022,129.343333" id="Fill-30" fill="#1A1918"></path>
        <path d="M184.759737,126.588889 C184.50606,127.065556 184.159332,127.977778 184.159332,129.002222 C184.159332,130.026667 184.50606,130.937778 184.759737,131.415556 C185.36125,132.44 186.262966,132.804444 187.071629,132.804444 C187.881401,132.804444 188.783116,132.44 189.383522,131.415556 C189.637198,130.937778 189.985034,130.026667 189.985034,129.002222 C189.985034,127.977778 189.637198,127.065556 189.383522,126.588889 C188.783116,125.563333 187.881401,125.2 187.071629,125.2 C186.262966,125.2 185.36125,125.563333 184.759737,126.588889 Z M182.750263,134.034444 C181.500711,132.917778 180.901414,131.005556 180.901414,129.002222 C180.901414,126.997778 181.500711,125.085556 182.750263,123.968889 C183.859129,122.967778 185.454302,122.467778 187.071629,122.467778 C188.690065,122.467778 190.285237,122.967778 191.394103,123.968889 C192.64144,125.085556 193.242953,126.997778 193.242953,129.002222 C193.242953,131.005556 192.64144,132.917778 191.394103,134.034444 C190.285237,135.035556 188.690065,135.536667 187.071629,135.536667 C185.454302,135.536667 183.859129,135.035556 182.750263,134.034444 L182.750263,134.034444 Z" id="Fill-31" fill="#1A1918"></path>
        <polygon id="Fill-32" fill="#1A1918" points="195.694422 135.013333 199.161707 135.013333 199.161707 131.688889 195.694422 131.688889"></polygon>
        <path d="M202.118315,131.688889 L205.585599,131.688889 L205.585599,134.922222 C205.632125,135.604444 205.585599,137.381111 204.198685,138.201111 C203.551754,138.701111 202.673302,138.884444 202.118315,138.974444 L202.118315,137.7 C202.951349,137.654444 203.59828,136.88 203.828694,136.402222 C204.060216,135.923333 204.198685,135.468889 204.03806,135.013333 L202.118315,135.013333 L202.118315,131.688889" id="Fill-33" fill="#1A1918"></path>
        <polygon id="Fill-34" fill="#1A1918" points="214.943944 135.013333 218.411228 135.013333 218.411228 118.413333 214.943944 118.413333"></polygon>
        <path d="M221.391099,122.672222 L224.626862,122.672222 L224.626862,124.538889 L224.67228,124.538889 C225.298164,123.241111 226.500082,122.467778 227.747418,122.467778 C230.614297,122.467778 232.556198,123.651111 232.556198,126.746667 L232.556198,135.013333 L229.319328,135.013333 L229.319328,127.681111 C229.319328,126.588889 229.180858,125.29 226.984172,125.29 C225.020116,125.29 224.626862,126.361111 224.626862,127.362222 L224.626862,135.013333 L221.391099,135.013333 L221.391099,122.672222" id="Fill-35" fill="#1A1918"></path>
        <path d="M243.00347,127.271111 C242.519379,125.312222 241.616556,125.29 240.622897,125.245556 C239.512922,125.176667 238.728629,125.882222 238.380793,127.065556 C238.265586,127.431111 237.896703,129.184444 238.288849,130.664444 C238.79731,132.598889 239.653608,132.872222 240.67053,132.895556 C241.478086,132.942222 242.495009,132.804444 243.00347,130.71 L246.100763,130.71 C246.125134,132.394444 244.575379,134.034444 244.113444,134.422222 C243.16631,135.195556 242.472853,135.468889 240.439009,135.536667 C236.531944,135.673333 235.14503,132.53 234.914616,130.732222 C234.776147,129.64 234.658724,127.522222 235.353289,125.951111 C236.832147,122.65 238.519263,122.603333 240.598526,122.467778 C241.848078,122.398889 243.188466,122.695556 243.905185,123.15 C245.314254,124.015556 246.100763,126.27 246.100763,127.271111 L243.00347,127.271111" id="Fill-36" fill="#1A1918"></path>
        <polygon id="Fill-37" fill="#1A1918" points="248.369453 135.013333 251.835629 135.013333 251.835629 131.688889 248.369453 131.688889"></polygon>
    </g>
</svg>