<h2>Primary font: franklin-gothic-urw, sans-serif;</h2>
<p>Secondary font: franklin-gothic-urw-comp, sans-serif;</p>

<p>Franklin Gothic served via Typekit under kurt@gravityworksdesign.com account</p>

<p>
  Normal: Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>
<p>
  <em>Normal Italic: Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </em>
</p>
<p>
  <strong>Bold: Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </strong></p>
<p>
  <strong><em>Bold Italic: Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </em></strong></p>