<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" href="../../style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <script src="https://use.typekit.net/rik7nvg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
  
  </head>
  <body class="{{ bodyClass }}">